export SECRET_KEY=
export DATABASE_URL=postgres://[USER]:[PASSWORD]@db:[PORT NUMBER]/[DATABASE NAME]
export STATIC_ROOT="/usr/src/app/data/static/"
export MEDIA_ROOT="/usr/src/app/data/media/"
export GOAT=https://amphora.asu.edu/goat
export BASE_URL="/vogon-docker/"
export GOAT_APP_TOKEN="[GOAT APP TOKEN]"
export GOAT="https://amphora.asu.edu/goat"
export SOCIAL_AUTH_GITHUB_KEY="[GITHUB KEY]"
export BACKEND="[DATABASE NAME]"
export NAMESPACE="http://amphora.asu.edu/vogon/"
export CONCEPTPOWER_USERID="[CONCEPTPOWER USER ID]"
export CONCEPTPOWER_PASSWORD="[CONCEPTPOWER PASSWORD]"
export CONCEPTPOWER_ENDPOINT="https://diging-dev.asu.edu/conceptpower-review/rest"
export CITESPHERE_ENDPOINT="https://diging-dev.asu.edu/citesphere-review"
export CITESPHERE_CLIENT_ID="[CITESPHERE SECRET]"
export CITESPHERE_CLIENT_SECRET="[CITESPHERE SECRET]"
export QUADRIGA_ENDPOINT="https://diging-dev.asu.edu/quadriga-review/rest/network"
export GILES_FILE_CONTENT='https://diging.asu.edu/geco-giles-staging/api/v2/resources/files' 
export PERSONAL_CONCEPT_TYPE="986a7cc9-c0c1-4720-b344-853f08c136ab"
export CORPORATE_CONCEPT_TYPE="3fc436d0-26e7-472c-94de-0b712b66b3f3"
export GEOGRAPHIC_CONCEPT_TYPE="dfc95f97-f128-42ae-b54c-ee40333eae8c"
export GITHUB_CLIENT_ID="[GitHub Client ID]"
export GITHUB_SECRET_ID="[GitHub Secret ID]"
export ALLOWED_HOSTS="amphora.asu.edu,localhost,127.0.0.1,129.219.40.16,diging.asu.edu"
