.main {
    min-height: 1000px;
}
#text-content {
    padding: 10px;
}
.appellation {
    border: 0.5px solid orange;
    background-color: yellow;
    opacity: 0.2;
    list-style-type: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.date-appellation {
    border: 0.5px solid green;
    background-color: green;
    opacity: 0.2;
    list-style-type: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.relation-list {
    font-size: 0.8em;
    max-height: 80vh;
    overflow-y: scroll;
    white-space: nowrap;
}
.relation-list .btn {
    font-size: 1em;
}
.relation-list-item {
    font-size: 1em;
    padding: 5px;
}


.relation-list-item.relation-selected {
    background-color: rgba(255, 165, 0, 0.5);
}

.appellation.appellation-selected {
    border: 2px solid orange;
    background-color: orange;
    opacity: 0.6;
}
.date-appellation.appellation-selected {
    border: 2px solid green;
    background-color: green;
    opacity: 0.6;
}
.appellation-list {
    font-size: 0.8em;
}
.appellation-list .btn {
    font-size: 1em;
}
.appellation-list-item {
    font-size: 1em;
    padding: 5px;
}
.appellation-list-item.appellation-selected {
    background-color: rgba(255, 165, 0, 0.5);
}
.text-selection {
    border: 0.5px solid blue;
    background-color: blue;
    opacity: 0.2;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.concept-item {
    padding: 5px;
    font-size: 8pt;
}
.concept-search-list-group {
    max-height: 300px;
    overflow-y: scroll;
}


#text-content {
    font-size: 0.9em;
}

.appellation-type-selector {
    margin-bottom: 5px;
    margin-top: 5px;
}

.appellation-creator {
    font-size: 0.8em;
    padding: 5px;
    border: 0.5px solid #ddd;
    max-height: auto;
}
.appellation-creator .form-control {
    font-size: 1.0em;
}
.appellation-creator-representation {
    font-style: italic;
    color: #6d6d6d;
}
.appellation-creator-offsets {
    font-weight:bold;
}

.relation-form {
    font-size: 0.8em;
}
.relation-form .form-control {
    font-size: 1.0em;
}

.relation-template-selector {
    font-size: 0.8em;
}
.relationtemplate-item {
    cursor: pointer;
    padding: 3px;
    margin-bottom: 0px;
    border: none;
}
.relation-template-selector .form-group {
    .font-size: 1em;
}
.relation-field {
    margin-bottom: 5px;
}

.action-column {
    background-color: white;

    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}

.date-selector {
    margin-top: 8px;
    margin-bottom: 8px;
}

.relation-date-bits {
    font-size: 0.8em;
}

.relation-creator {
    padding: 5px;
    border: 0.5px solid #ddd;
}

.sidebar-buttons {
    margin-bottom: 5px;
}

.annotation-preamble {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}


/*********** Tooltips! ***********/
.tooltip {
    display: none;
    opacity: 0;
    transition: opacity .15s;
    pointer-events: none;
    padding: 4px;
    z-index: 10000;
    max-width: 200px;
    overflow-x: wrap;
    text-align: center;

  }
  .tooltip .tooltip-content {
    background-color: #ddd;
    color: black;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 3px 5px 2px;
  }
  .tooltip.tooltip-open-transitionend {
    display: block;
  }
  .tooltip.tooltip-after-open {
    opacity: 1;
  }
  #shadow-swimlane.action-column {
      border: 0;
      background-color: rgb(250, 250, 250);
  }
