.blurry_text_block{
    margin:0 auto;
    margin-top: 25px;
}

.blurry_text{
    color: transparent;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
