body {

    margin: 0px;
    padding: 0px;
    background-color: rgb(250, 250, 250);

    font-family: Palatino Linotype;

}

.text-small {
    font-size: 9pt;
}

.text-tiny {
    font-size: 7pt;
}

div#header nav {
    margin-bottom: 0px;
}


div#alerts {
}

div#actions {

    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

    #actions .action {
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        height: 20px;

    }

    .action .glyphicon {

    }

#main {
    margin-top: 25px;
}

#text {

}

    #textContent {
        position: relative;
        overflow: auto;
        height: 500px;
        line-height: 1.8em;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

    }

div#rightTools {

    height: 400px;

}
    div#networkVis {
        height: 400px;
    }

    div#annotations {

        height: 400px;

    }
    div#relations {

        height: 400px;
    }
    div#network {
        padding: 0px;
    }

word {
    cursor: pointer;
}

    word.appellation {
        color: orange;
    }


    word.selected {
        color: blue;
        text-shadow: 0px 0px 20px orange;
    }

    word.appellation.selected {
        color: red;
        text-shadow: 0px 0px 20px green;
    }

.actionIcons {
    position: absolute;
}

    .actionIcons .btn {
        margin-right: 2px;
        padding: 5px;

    }

.quotedText {
    color: orange;
    font-style: italic;
}
# AngularJS compatability.
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.angucomplete-dropdown {
    margin-top: 20px;
}

.angucomplete-row {
    font-size: 9pt;
    margin-left: 10px;
    margin-top: 5px;
    padding: 5px;
}

.angucomplete-row:hover {
    background-color: rgba(255, 165, 0, 0.61);
    cursor: pointer;

}

.angucomplete-title {
    display: inline-block;
}

.angucomplete-description {
    display: inline-block;
    color: gray;
    font-style: italic;
    margin-left: 15px;
}


.temporalInput {

}

.help-text {
    size: 9pt;
    font-style: italic;
    color: gray;
}

.error {
    color: red;
    padding: 5px;
}

word.appellation.highlight {
    text-shadow: 0px 0px 20px blue;
}

.list-group-annotations {
    overflow: auto;
    height: 370px;
    font-size: 8pt;
}

.edgeLabel {
    font-size: 7pt;
}

.edgeSelected {

}

circle.node {
    fill: rgba(46, 109, 164, 1.0);
}

.nodeSelected circle {
    fill: rgba(0, 100, 0, 1.0);
}

.nodeHover circle {
    border: 2px solid red;
}


.nodeLabel {
    font-size: 8pt;

    /* Prevent selecting text. */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;
    display: none;
}


.nodeSelected .nodeLabel {
    font-size: 13pt;

    opacity: 1.0;
    display: block;
    z-index: 5000;
}

.panel.narrow {

}
.panel.center {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

#userdropdown {
    margin-top: 5px;
}

.small-text {
    font-size: 8pt;
}

.accordion-panel .panel-body {
   padding: 7px;
 }





.navbar .glyphicon {
    line-height: 35px;
    font-size: 1.5em;
}

#userdropdown {
    line-height: 35px;
    height: 35px;
    padding-top: 3px;
}



.navbar-nav {
    font-size: 1.0em;
}


.contributor {
   margin-bottom: 20px;
}

.contributor div {
    margin-top: 15px;
}

.contributor p {
    padding: 10px;
}


/*.img-responsive{
  width: 230px;
  height: 230px;
}*/

.div_padding{
    padding: 30px;
}


.btn-group {
  white-space: nowrap;
  .btn {
    float: none;
    display: inline-block;
  }
}


word {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}

.popover-action {
    padding: 0px;
}


.action-panel-container {
    margin-top: 10px;
}

.action-tab-anchor {
    cursor: pointer;
}

.appellation-modal-body .concept-search-results {
    max-height: 300px;
    overflow-y: scroll;
}

.concept-search-results {
    margin-top: 10px;

}

.concept-search-results > .list-group-item {
    cursor: pointer;
}


.relationtemplate-search-results {
    margin-top: 10px;
}

.relationtemplate-search-results > .list-group-item {
    cursor: pointer;
}

.relationtemplate-field-search {

}
.relationtemplate-field-search > .list-group-item {
    cursor: pointer;
}


.appellation-list {
}

.appellation-list-item {
    cursor: pointer;
}

a.appellation-list-item.selected {
    background-color: orange;
}

.evidence-filled {
    color: green;
}

.relationtemplate-field-search > .list-group-item {
    cursor: pointer;
}

.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
    border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
    margin-bottom: -1px;
}

/* Keep the action panel in the window. If the window is wide enough, it should
 *  ride to the right, at the top of the window. If the screen is too small,
 *  it should ride at the bottom of the window on top of the text.
 */
 .action-body {

     overflow-y: scroll;
 }

.fixed {
    top: 0px;
    position: fixed;
}
.fixed-bottom {
    bottom: -10px;
    position: fixed;
}

.fixed-bottom .action-body {
    max-height: 150px;
}


.metadata-panel {
    margin-top: 10px;
}


.networkHighlight {
    text-shadow: 0px 0px 10px blue;
}


.relation-list-item {
    cursor: pointer;
}

.equal, .equal > div[class*='col-'] {
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}


#networkPanel {
    padding: 0px;
}


#networkViewport {
    height: 400px;
}

.navbar-inverse {
    /*height: 35px;*/
    min-height: 40px;
}

.navbar-inverse-transparent {
    /*background-color: rgba(0, 0, 0, 0.8);*/
    background-image: none;
    background: rgba(0, 0, 0, 0.8);; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)); /* Standard syntax */


    border: 0;
}

.navbar-nav.brand-nav {
    margin-left: 0px !important;
}

.navbar li {
    padding: 5px 2px;
    border-radius: 5px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.2);
}

.navbar-brand li {
    padding: 5px 2px;
    border-radius: 5px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.3);
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a {
    background-color: rgba(255, 255, 255, 0.3) !important;
    background-image: none;
    border-color: none;
    border: none;
}

.navbar-inverse .dropdown-menu li {
    padding: 2px;
    height: 30px;
    /*background-color: #ddd;*/
}

.navbar-inverse .dropdown-menu a {
    color: #ea9801 !important;
    font-size: 1.1em;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* make navbar taller */
.navbar-brand,
.navbar-nav li a {
    line-height: 35px;
    height: 35px;
    padding-top: 0;
    font-family: Arial;
    padding-left: 8px;
    padding-right: 8px;

}
.navbar-brand img {
    margin-top: 12px;
    height: 30px;
}

.navbar li .glyphicon {
    color: #ea9801;
}


.navbar-home {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    padding-bottom: 45px;
    /*height: 525px;*/
}

.navbar-nav>li>a {
    color: black;
}


.jumbotron-transparent {
    /*margin-top: 20px;*/
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    padding-top: 5px !important;
}


.jumbotron-transparent p {
    font-size: 1.2em;
    padding-left: 15px;
    padding-right: 15px;
}


/*.navbar-home {
    position: relative;
}*/

.navbar-home .brand-footer-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.navbar-home .brand-footer-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

#floatingButtons {
    /*margin-top: 20px;*/
    padding: 10px;
    margin-bottom: 20px;
    vertical-align: middle;
    z-index: 5000;

}

#floatingButtons p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

#floatingButtons.fixed {
    background-color: rgba(255, 255, 255, 0.7);
}

#floatingButtons .btn {
    /*margin-right: 20px;
    margin-left: 20px;*/
    /*width: 120px;*/
}


.floatingOffset {
    left: 0px;
}

.section {
    padding-top: 0px;
    min-height: 500;
}

.section-alt {
    background-color: rgba(81, 94, 185, 1.0);
}

.btn-pur {
    background-color: rgba(81, 94, 185, 1.0);
}
.btn-whi {
    background-color: rgba(255, 255, 255, 1.0);
}

.btn-pur:hover {
    background-color: rgba(81, 94, 185, 0.8);
}


#appellationsContainer {
    position: relative;
}

#appellationsContainer div {
    position: relative;
}


.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}


.activity-list-item {
    font-size: 8pt;
}

.responsive-h2 {
    margin-top: 20px;
    font-size: 18pt;
    margin-bottom: 10px;
    padding: 0px;
}

.responsive-p {
    font-size: 14pt;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0px;
    font-weight: 300;
}

.heavy {
    font-weight: 400;
}


.multiselect-container.dropdown-menu  {
    max-width: 100%;
    overflow-x: hidden;
    max-height: 300px;
    overflow-y: scroll;
}


/* Autocomplete on home page */

.autocomplete-container {
    visibility: hidden;
}
.autocomplete-results {
    visibility: hidden;
}

.ac-type {
    margin-left: 5px;
}


.h1 .small {
    font-size: 16pt;
}

.text-snippet {
    cursor: default;
}

.alt-background:nth-of-type(odd) {
    background: #e0e0e0;
}

.main {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px; /* the bottom margin is the negative value of the footer's height */
}

.push {
    opacity: 0;
}
.footer, .push {
    margin-top: 60px;
    height: 60px;
    background: #e0e0e0;
}
.footer .container-fluid {
    padding-top: 20px;
}

.contributor-container {
    padding: 5px;
}


.contributor-container img {
    margin-right: 10px;
}

.contributor-details {
    /* Make wrapped text align with text displaced by floating profile image. */
    margin-left: 70px;
}

.concept-item {
    font-size: 9pt;
    padding: 8px;
}


.breadcrumb-block {
    padding: 5px;
    font-family: sans-serif;
}

.relation-list-group {
    font-size: 0.9em;
}


.action-panel-body {
    padding: 5px 8px;
}



.relation-list-item {
    font-size: 0.8em;
    padding: 5px 8px;
}

.relation-list-item p {
    margin-bottom: 0px;
}

.appellation-list-item {
    font-size: 0.8em;
    padding: 5px 8px;
}

.annotation-panel-heading {
    padding: 0px 0px;
}

.annotation-preamble {
    font-size: 0.9em;
}


.alert-xs {
    padding: 5px;
    font-size: 0.8em;
    margin-bottom: 5px;
}

.alert-sm {
    padding: 8px;
    font-size: 0.9em;
    margin-bottom: 10px;
}


.splash {
    padding: 15px;
    background-color: #ddd;
    border-radius: 5px;
}
.splash .h2 {
    margin-top: 10px;
}
