{% extends "annotations/base.html" %}
{% load staticfiles %}
{% load i18n admin_static %}
{% load addcss %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static " admin/css/login_.css" %}" />{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block main %}

<div class="jumbotron">
    <div class="container">
        <h1>Welcome to Vogon Web</h1>
        <p>VogonWeb is a web application that allows scholars to annotate texts with contextualized relationship
            triples, so-called “quadruples.” Quadruples form semantic networks that, when uploaded to a repository, can
            be used to for example develop advanced search engines. Furthermore, various software tools can be developed
            to analyze and visualize these networks.</p>

    </div>
</div>
<div id="main " class="container">
    <div class="row">
        <!--<div class="col-md-4">
             <h2>Details</h2>
             <p>Total number of users: <b>{{user_count}}</b></p>
             <p>Total text added: <b>{{text_count}}</b></p>
             <p>Total number of relations added: <b>{{relation_count}}</b></p>
         </div>-->
        <div class="col-md-4">
            <h3>Users</h3>
            <p> {{user_count}}</p>

        </div>
        <div class="col-md-4">
            <h3>Text Added</h3>
            <p> {{text_count}}</p>
        </div>
        <div class="col-md-4">
            <h3>Relation Created</h3>
            <p> {{relation_count}}</p>

        </div>

    </div>
</div>

{% endblock %}
