<!-- The Appellation Tab orchestrates the appellation process. -->
<div class="tab-pane fade in active" id="tabAppellations" ng-controller="AppellationsController">
    <!-- <p class="text text-info" ng-show="hideAppellationCreate">To create a new tag, click on an untagged word and then click the <span class="glyphicon glyphicon-tag"></span> icon.</p> -->
    {% verbatim %}
    <ul class="list-group appellation-list" ng-show="hideAppellationCreate"><!-- Show the list of appellations when not creating a new one. -->
        <!-- TODO: this will create problems if legacy appellations have no stringRep. -->
        <div class="list-group-item appellation-list-item appellation clearfix"
            id="appellation-list-item-{{appellation.id}}"
            appellation="{{appellation.id}}"
            ng-repeat="appellation in appellations"
            ng-click="selectAppellation(appellation)">
            <span class="pull-right text-muted">
                <a class="btn btn-xs" ng-click="hide(appellation)" ng-show="isVisible(appellation)">
                    <span class="glyphicon glyphicon glyphicon-eye-open"></span>
                </a>
                <a class="btn btn-xs" ng-click="show(appellation)" ng-show="!isVisible(appellation)">
                    <span class="glyphicon glyphicon glyphicon-eye-close"></span>
                </a>
            </span>
            {{ appellation.interpretation.label }}
            <div class="text-warning">{{ appellation.interpretation.authority }}: {{ appellation.interpretation.uri|truncate }}</div>
        </div>
    </ul>
    {% endverbatim %}
    <div ng-hide="hideAppellationCreate">
        {% include "annotations/text/appellationCreate.html" %}
    </div>
</div>
