{% verbatim %}
<p class="h4">Create a new appellation</p>
<p>
    <span ng-show="selectedText" class="text text-info bg-info">"{{ selectedText }}"</span>
    <div ng-show="selectedRegions != null"
        class="digilib-selection-container">
    </div>
</p>
<div ng-controller='ConceptSearchController'>
    <div id="concept-search">
        <div class="input-group">
            <!-- This is the search input. We also use the input for the Concept label if the
                 user elects to create a new one. -->

            <input
                type="text"
                name="search"
                id="concept-search-id"
                ng-model="query"
                class="form-control"
                ng-disabled="data.selectedConcept"
                placeholder="To what does this passage refer?">
            </input>
            <select class="form-control"
                ng-model="pos"
                ng-options="item as item.label for item in pos_options track by item.id">
            </select>
            <!-- Until a Concept is selected, show a green search icon. -->
            <span class="input-group-addon btn btn-sm btn-success" ng-show="!data.selectedConcept" ng-click="search()">
                <span class="glyphicon glyphicon-search"></span>
            </span>
            <!-- When a Concept is selected, show a red X that allows the user to deselect the Concept. -->
            <span class="input-group-addon btn btn-sm btn-danger"
                ng-click="unselectConcept()"
                ng-show="data.selectedConcept">
                <span class="glyphicon glyphicon-remove"></span>
            </span>
        </div>
        <span class="text text-info">{{ message }}</span>
        <ul class="list-group concept-search-results" ng-hide="creatingConcept">
            <a class="list-group-item concept-item"
                ng-repeat="concept in concepts"
                ng-click="select(concept)">
                <strong>{{ concept.label }}</strong>
                <div class="pull-right">
                    <label class="label label-primary" ng-show="concept.concept_type.name != ''">{{ concept.concept_type.name }}</label>
                    <label class="label label-primary" ng-show="concept.concept_type.name == ''">{{ concept.concept_type.identifier | truncate }}</label>
                </div>
                <div class="text-warning">{{ concept.authority.name }}: {{ concept.uri | truncate }}</div>

                <p><span class="text text-muted">{{ concept.description }}</span></p>
            </a>
        </ul>
        <div class="checkbox">
            <label ng-show="canCreateConcept()">
                <input type="checkbox"
                    value=""
                    ng-click="startCreatingConcept()"
                    ng-model="assertUnique">
                I've tried my hardest, but I can't find a matching concept.
            </label>
        </div>
    </div>
    <div class="panel" ng-show="creatingConcept">
        <div class="form-group">
            <label for="description">Description</label>
            <textarea
                class="form-control"
                name="description"
                required="true"
                ng-model="newConcept.description"
                id="description"
                placeholder="Describe this concept in as much detail as you can.">
            </textarea>
        </div>
        <div class="form-group">
            <label for="type">Type</label>
            <select
                class="form-control"
                ng-model="newConcept.typed"
                required="true"
                ng-options="t.label for t in conceptTypes">
                <option></option>
            </select>
        </div>
    </div>
    <div class="clearfix">
        <div ng-show="readyToCreateConcept()">
            <span class="btn-group pull-right btn-group-sm">
                <a class="btn btn-primary"
                   type="submit"
                   ng-click="createConceptAndAppellation()">Create</a>
            </span>
        </div>
        <div ng-show="conceptSelected()">
            <span class="btn-group pull-right btn-group-sm">
                <a class="btn btn-primary"
                   type="submit"
                   ng-click="createAppellation()">Create</a>
            </span>
        </div>
    </div>
</div>
{% endverbatim %}
