{% extends "annotations/base.html" %}
{% load staticfiles %}

{% block main %}

<div class="container">
    <a name="about"></a>
    <h1 class="page-header">About Vogon <small>and the epistemic web</small></h1>
    <div class="row">
        <div class="col-sm-8">
            <p>
                In the humanities, making new knowledge involves reading and critically interpreting a wide range
                of texts: books, archives, articles, images, interviews, and news clippings. Scholars share their
                insights by arranging evidence and interpretation into books and articles that can in turn be read
                and critically interpreted by other scholars. Sadly, much of that literature is read by only a small
                number of people, and can be hard to find. It's even harder to validate research findings: scholars
                cite each others' work, but practices for citing primary sources like archives vary widely. Dozens of
                claims about historical actors or events might be covered by a single reference to an enormous archive.
            </p>
            <p>
                <strong>What if we could do better?</strong> What if the sum of our research was not just a pile of
                papers, but a tangible network of historical actors, events, texts, and interpretations? What if we
                could find out who claimed that Louis Agassiz disagreed with Charles Darwin, and on the basis of what
                evidence, with the click of a mouse? Scholarly publishing has moved online. Our sources&mdash;even
                the dusty archives&mdash;are moving online. It's time to rethink the possibilities for making human
                knowledge in the digital age.
            </p>
            <h2>Building the Epistemic Web</h2>
            <p>
                VogonWeb is a web-based platform for encoding your interpretations of texts. The annotation interface
                allows you to tag words or phrases with the concepts to which you believe they refer, and bring
                those tags together into relational statements that you believe are supported by the text. These tags
                and relations comprise the <a href="http://www.edition-open-access.de/studies/1/36/index.html">epistemic
                web</a>: a network of texts, interpretations, and the people who create those interpretations. As
                we build the epistemic web we are producing not only a rich knowledge-base for the humanities, but also
                documenting the scholarly process itself.
            </p>
            <h2>Technology</h2>
            <p>
                VogonWeb is one component in a constellation of web applications and services that comprise a distributed
                research infrastructure for digital and computational humanities.
            </p>
            <p>
                VogonWeb is Python WSGI application developed using the <a href="https://www.djangoproject.com/">Django web framework</a>,
                and runs on the <a href="http://heroku.com">Heroku</a> cloud platform.
            </p>
            <p>

            </p>
        </div>
        <div class="col-sm-4">
            <div class="panel">
                <div class="panel-heading">
                    <span class="h4">Open-source development</span>
                </div>
                <div class="panel-body">
                    <p>
                        VogonWeb is open source software, released under the <a href="http://www.gnu.org/licenses/gpl-3.0.en.html">GNU General Public
                        License v3</a>. The <a href="http://diging.asu.edu">Digital Innovation Group </a> at Arizona State University leads the project,
                        and we want you to get involved!
                    </p>
                    <div>
                        <a href="https://github.com/diging/vogon-web" class="btn btn-xs">
                            <span class="fa fa-github"></span> GitHub
                        </a>
                        <p class="text text-muted text-small">
                            The VogonWeb source code is completely open source. You can find the latest development source, previous releases,
                            and deployment documentation in our GitHub repository.
                        </p>
                    </div>
                    <div>
                        <a href="https://diging.atlassian.net/projects/VGNWB/summary" class="btn btn-xs">
                            <span class="fa fa-ticket"></span> Atlassian JIRA
                        </a>
                        <p class="text text-muted text-small">
                            We use JIRA to manage the VogonWeb software development project. Go here to see what we're working on right now.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <a name="how"></a>
    <h1 class="page-header">How does it work?</h1>
    <div class="pull-right" style="margin-left: 10px;">
        <img src="{% static "annotations/images/annotated.png" %}" class="img img-rounded img-thumbnail img-responsive" />
    </div>
    <p>
        One of the core ideas of the epistemic web is the ability to point to a specific piece of evidence for
        each interpretation that a user encodes. We tend to think about this in terms of printed or digital texts.
        For example:
        <ol>
            <li>
                A user reads a passage, e.g. "Einstein was a theoretical physicist"
            </li>
            <li>
                The user form some interpretations, e.g. the user interprets the phrase "Einstein" as referring to
                the person <span class="text-warning">Albert Einstein</span>, the German-born  man who lived from
                1879 to 1955, and interprets the phrase "theoretical physicist" to refer to a general concept of a
                person who works in the field of theoretical physics.
            </li>
            <li>
                The user creates annotations for each of the phrases that she interprets, and links them together in
                a relation, e.g. that <span class="text-warning">Albert Einstein</span> was a
                <span class="text-warning">theoretical physicist</span>
            </li>
            <li>
                A second user who views the annotations can subsequently find the specific place
                where the passage interpreted by the first user as <span class="text-warning">Albert Einstein</span>
                is located.
            </li>
        </ol>
    </p>
    <p>

    </p>
</div>

<div class="container">
    <a name="materials"></a>
    <h1 class="page-header">What can I annotate?</h1>
    <div class="pull-right" style="margin-left: 10px;">
        <img src="{% static "annotations/images/text.png" %}" class="img img-rounded img-thumbnail img-responsive" />
    </div>
    <p>
        In the first iteration of VogonWeb (up through version 0.4), we focused on annotating <strong>plain text documents</strong>.
        That is, texts without any kind of formatting or markup. For example, PDFs that have been processed using Optical Character
        Recognition, and HTML documents that have been scraped for their content. This was a logical starting-place, because
        <strong>it's easy to describe a location in a string of plain text</strong>, and many of our core users were
        already working with plain text that they had prepared for other workflows (e.g. topic modeling, Named Entity Recognition,
        relation extraction).
    </p>
    <p>
        In the next minor version of VogonWeb (version 0.5), we will incorporate annotation of raw images (e.g. photos of archival
        documents) and markup (e.g. webpages). <strong>If you're interested in using these features, please
        <a href="mailto:erick.peirson@asu.edu">get in touch!</a></strong>
    </p>
    <p>
        In the future, we also hope to incorporate direct annotation of PDF documents. We've also been dreaming about audio and
        video annotation, but that's much further down the road.
    </p>
</div>

<div class="container">
    <a name="goodfer"></a>
    <h1 class="page-header">What's all this good for, anyway?</h1>

    <p>
        Here are a few use-cases from real projects that have used or are currently using the Vogon/Quadriga
        annotation platform. VogonWeb is under constant development, and we need your input to make it even
        more wonderful. Please contact <a href="mailto:erick.peirson@asu.edu">Erick</a> to get involved.
    </p>
    <div class="container alt-background">
        <div class="h3">Documenting Archival Research</div>
        <p>
            "I am an historian of science studying plant science at agricultural research stations. In the
            archives I <strong>photograph</strong> a large number of <strong>hand-written and type-script letters</strong>
            and other documents. I want to keep track of who is mentioned in these documents and how they
            are related, so that I can develop a better understanding of how networks of people, institutions,
            organisms and other historical actors developed over time. I also want to be able to <strong>retrace my
            steps to find the specific places in documents</strong> that substantiate relationships between actors,
            and be able to quickly <strong>share my data</strong> with colleagues.”
        </p>
    </div>
    <div class="container alt-background">
        <div class="h3">Analyzing Functional Relationships in Texts</div>
        <p>
            "As a philosopher of science, I am interested in how scientific terms (like ‘gene’, ‘organism’, or ‘mechanism’)
            are used by investigators in different fields and disciplines. Analyzing how terms are co-located in various
            texts (i.e. co-occurrence networks) gets me part of the way, but I want to go further and examine <strong>functional
            relationships</strong> among terms when they are used in different contexts. I need a way to encode those relationships
            that allows me to make <strong>quantitative comparisons</strong> of term-usage, <strong>without committing to a rigid
            ontology</strong> ahead of time. By looking at differences in term usage in the way, I hope to gain better insights into how
            concepts differ between research communities and change over time.
        </p>
    </div>
    <div class="container alt-background">
        <div class="h3">Collaborative Network Modeling Collaboratively, with Evidence</div>
        <p>
            "I am studying <strong>collaboration networks</strong> in fields where multi-author publications are rare. I can’t use co-authorship
            to model those networks, so I want to <strong>annotate the acknowledgement sections</strong> of academic research papers to encode
            information about collaborations among scientists. Since I am working with thousands of documents, I want to enlist
            the help of students and colleagues to annotate these texts. That means that we need a <strong>controlled vocabulary</strong> of
            personal names so that we are all annotating the texts in the same way, and so that we can discriminate among people
            with similar names. We need to be able to <strong>see the specific passages of text</strong> that were used to encode relationships,
            so that we can <strong>validate</strong> our data.
        </p>
    </div>
    <div class="container alt-background">
        <div class="h3">Structuring Existing Knowledge for Discovery and Meta-analysis</div>
        <p>
            "My colleagues and I have written a wide range of papers that have some <strong>overlap in the people, places, concepts, and events
            </strong> that  we describe. We want a <strong>structured framework</strong> for looking at our work in aggregate, so that we can see precisely
            where our work overlaps. This will make it easier for our students to <strong>comprehend the landscape of existing scholarship</strong> in this
            field, and identify areas where further research may be fruitful.”
        </p>
    </div>
</div>

<div class="container">
    <a name="team"></a>
    <div class="col-sm-12">
        <h2 class="page-header">Our Team</h2>
        <p>
            VogonWeb is an open-source project lead by the <a href="http://diging.asu.edu">Digital Innovation Group</a> at Arizona State University.
            Our current development team can be found below. For a list of all contributors to the project, check out our
            <a href="https://github.com/diging/vogon-web/graphs/contributors">GitHub</a> repository.
        </p>
    </div>
    <div class="row">
        <div class="col-sm-4 text-center contributor">
            <img class="img-thumbnail img-responsive img-center" src={% static "annotations/img/team/erick.jpg"%} alt="">
            <div>
                <a class="h4" href="https://github.com/erickpeirson">Erick Peirson</a>
            </div>
            <p>Erick Peirson is an historian of science and software engineer working at Arizona State University.</p>
        </div>
        <div class="col-sm-4 text-center contributor">
            <img class="img-thumbnail img-responsive img-center" src={% static "annotations/img/team/erin.jpg"%} alt="">
            <div>
                <a class="h4">Erin Bottino</a>
            </div>
            <p>Erin is a computational research aid in the <a href="http://diging.asu.edu">Digital Innovation Group</a> at ASU.</p>
        </div>
        <div class="col-sm-4 text-center contributor">
            <img class="img-thumbnail img-responsive img-center" src={% static "annotations/img/team/yogi.jpg"%} alt="">
            <div>
                <a class="h4" href="https://github.com/yyk16293">Yogananda Kishore</a>
            </div>
            <p>Yogananda is a developer in the <a href="http://diging.asu.edu">Digital Innovation Group</a> at ASU.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 text-center contributor">
            <img class="img-thumbnail img-responsive img-center" src={% static "annotations/img/team/ankitha.jpg"%} alt="">
            <div>
                <a class="h4" href="https://github.com/apchandak24">Ankita Chandak</a>
            </div>
            <p>Ankita Chandak is a masters student in Computer Science</p>
        </div>
        <div class="col-sm-4 text-center contributor">
            <img class="img-thumbnail img-responsive img-center" src={% static "annotations/img/team/harshaneel.jpg"%} alt="">
            <div>
                <a class="h4" href="https://github.com/harshaneelhg">Harshaneel Gokhale</a>
            </div>
            <p>Harshaneel Gokhale is a masters student in Computer Science</p>
        </div>
        <div class="col-sm-4 text-center contributor">
            <img class="img-thumbnail img-responsive img-center" src={% static "annotations/img/team/bhanu.jpg"%} alt="">
            <div>
                <a class="h4" href="https://github.com/allaparthi92">Bhanu Teja</a>
            </div>
            <p>Bhanu Teja is a Masters student in Computer Science at ASU</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 text-center contributor">
            <img class="img-thumbnail img-responsive img-center" src={% static "annotations/img/team/kelle.jpg"%} alt="">
            <div>
                <a class="h4" href="https://github.com/kdhein">Kelle Dhein</a>
            </div>
            <p>Kelle is a PhD student at Arizona State University.</p>
        </div>
        <div class="col-sm-4 text-center contributor">
            <img class="img-thumbnail img-responsive img-center" src={% static "annotations/img/team/viveknarsimha.jpg"%} alt="">
            <div>
                <a class="h4" href="https://github.com/ndondeti">Vivek Narsimha Dondeti</a>
            </div>
            <p>Vivek Narsimha Dondeti is Computer Science Graduate student at Arizona State University.</p>
        </div>
        <div class="col-sm-4 text-center contributor">
            <img class="img-thumbnail img-responsive img-center" src={% static "annotations/img/team/jasdeep.jpg"%} alt="">
            <div>
                <a class="h4" href="https://github.com/jasdeepbhalla">Jasdeep Singh</a>
            </div>
            <p>Jasdeep is a Computer Science Graduate Student at Arizona State University</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 text-center contributor">
            <img class="img-thumbnail img-responsive img-center" src={% static "annotations/img/team/kamal.jpg"%} alt="">
            <div>
               <a class="h4" href="https://github.com/erhkamal319">
                   Kamalakannan Hari Krishna Moorthy
                </a>
            </div>
            <p>
                Kamal is currently pursuing his Masters in Computer Science at Arizona State University.
            </p>
        </div>

        <div class="col-sm-4 text-center contributor">
            <img class="img-thumbnail img-responsive img-center" src={% static "annotations/img/team/nitin.jpg"%} alt="">
            <div>
                <a class="h4" href="https://github.com/kardanitin">Nitin Karda</a>
            </div>
            <p>Nitin Karda is a Graduate Student in Computer Science.</p>
        </div>
        <div class="col-sm-4 text-center contributor">
            <img class="img-thumbnail img-responsive img-center" src={% static "annotations/img/team/niranjan.jpg"%} alt="">
            <div>
                <a class="h4" href="https://github.com/nravich2">Niranjan Krishna</a>
            </div>
            <p>Niranjan Krishna is a masters student in Computer Science</p>
        </div>
    </div>
</div>
{% endblock %}
