{% extends "annotations/base.html" %}
{% load staticfiles %}

{% block main %}
<div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us
                    <small>It's Nice to Meet You!</small>
                </h1>
                <p>VogonWeb is a web application that allows scholars to annotate texts with contextualized relationship triples, so-called “quadruples.” Quadruples form semantic networks that, when uploaded to a repository, can be used to for example develop advanced search engines. Furthermore, various software tools can be developed to analyze and visualize these networks.</p>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src={% static "annotations/img/team/erick.jpg"%} alt="">
                <h3>Erick Peirson

                </h3>
                <p>Erick Peirson is an historian of science and software engineer working at Arizona State University.</p>
                <a href="https://github.com/erickpeirson">View my GitHub page!</a>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src={% static "annotations/img/team/harshaneel.jpg"%} alt="">
                <h3>Harshaneel Gokhale

                </h3>
                <p>Harshaneel Gokhale is a masters student in Computer Science</p>
                <a href="https://github.com/harshaneelhg">View my GitHub page!</a>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src={% static "annotations/img/team/bhanu.jpg"%} alt="">
                <h3>Bhanu Teja

                </h3>
                <p>Bhanu Teja is a Masters student in Computer Science at ASU</p>
                <a href="https://github.com/allaparthi92">View my GitHub page!</a>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src={% static "annotations/img/team/kelle.jpg"%} alt="">
                <h3>Kelle Dhein

                </h3>
                <p>Kelle is a PhD student at Arizona State University.</p>
                <a href="https://github.com/kdhein">View my GitHub page!</a>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src={% static "annotations/img/team/viveknarsimha.jpg"%} alt="">
                <h3>Vivek Narsimha Dondeti

                </h3>
                <p>Vivek Narsimha Dondeti is Computer Science Graduate student at Arizona State University.</p>
                <a href="https://github.com/ndondeti">View my GitHub page!</a>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src={% static "annotations/img/team/jasdeep.jpg"%} alt="">
                <h3>Jasdeep Singh

                </h3>
                <p>Jasdeep is a Computer Science Graduate Student at Arizona State University</p>
                <a href="https://github.com/jasdeepbhalla">View my GitHub page!</a>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src={% static "annotations/img/team/kamal.jpg"%} alt="">
                <h3>Kamalakannan Hari Krishna Moorthy

                </h3>
                <p>Kamal is currently pursuing his Masters in Computer Science at Arizona State University.</p>
                <a href="https://github.com/erhkamal319">View my GitHub page!</a>
            </div>

            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src={% static "annotations/img/team/nitin.jpg"%} alt="">
                <h3>Nitin Karda

                </h3>
                <p>Nitin Karda is a Graduate Student in Computer Science.</p>
                <a href="https://github.com/kardanitin">View my GitHub page!</a>

            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src={% static "annotations/img/team/niranjan.jpg"%} alt="">
                <h3>Niranjan Krishna

                </h3>
                <p>Niranjan Krishna is a masters student in Computer Science</p>
                <p><a href="https://github.com/nravich2">View my GitHub page!</a></p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src={% static "annotations/img/team/ankitha.jpg"%} alt="">
                <h3>Ankita Chandak
                </h3>
                <p>Ankita Chandak is a masters student in Computer Science</p>
                <a href="https://github.com/apchandak24">View my GitHub page!</a>

            </div>
        </div>

        <hr>

        <footer class="footer-basic-centered">
			      <p class="footer-links">
				        <a href="https://github.com/diging/vogon-web">GitHub</a>
				        ·
				        <a href="https://diging.atlassian.net/projects/VGNWB/">Jira</a>
				        ·
				        <a href="http://diging.asu.edu/projects/#software">All DigInG software projects</a>
            </p>
			      <p class="footer-company-name">DigInG</p>
		    </footer>
    </div>
{% endblock %}
