{% load staticfiles %}

<html ng-app="selectionApp">
<head>
    {% include "annotations/stylesheets.html" %}
    {% include "annotations/angular.html" %}
    {% include "annotations/scripts.html" %}
    <title>{{ title }}</title>

    <script>
    var app = angular.module('selectionApp', ['ngResource', 'ngSanitize', 'ui.bootstrap']);

    app.config(['$httpProvider', function($httpProvider){
        $httpProvider.defaults.xsrfCookieName = 'csrftoken';
        $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';

        $httpProvider.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
        $httpProvider.defaults.headers.common['Authorization'] = '{{ eratosthenes_token }}';
    }]);

    app.factory('Resource', ['$resource', '$http', function($resource, $http) {
        var Resource = $resource('/sources/resource/:id');
        return Resource;
    }]);

    app.factory('Collection', ['$resource', '$http', function($resource, $http) {
        var Collection = $resource('/sources/collection/:id');
        return Collection;
    }]);

    app.factory('Repository', ['$resource', 'Collection', '$http', '$q', function($resource, Collection, $http, $q) {
        var Repository = $resource('/sources/repository/:id', {}, {
            list: {
                method: 'GET',
                cache: true
            },
        });

        angular.extend(Repository.prototype, {
            texts: [],
            isActive: false,
            select: function() {
                return
            },
            selectCollection: function(collection) {
                var repository = this;
                var instance = Collection.get({id: collection.id}).$promise;;
                instance.then(function(data) {
                    collection.texts = data.resources;
                    collection.texts.forEach(function(text) {
                        text.hide = true;
                        text.reveal = function() {
                            if(this.hide) this.hide = false;
                            else this.hide = true;
                        };
                        text.add = function() {
                            var self = this;
                            data =  {
                                text: text,
                                source: repository
                            }
                            $http.post('/text/add/', data).then(function(r) {
                                console.log(r);
                            });
                        };
                    });
                });
            },
        });
        return Repository;
    }]);

    app.controller('SelectTextController', ['$scope', 'Repository', function($scope, Repository) {
        $scope.repositories = [];
        Repository.query(function(e) {
            $scope.repositories = e;
        });
    }]);

    </script>
</head>
<body get-token>
    {% include "annotations/header.html" %}
    {% verbatim %}
    <div id="main">
        <div class="col-sm-10 col-sm-offset-1"  ng-controller="SelectTextController">
            <accordion close-others="true">
                <accordion-group class="panel panel-primary" heading="Add Text from a Repository" >

                    <accordion close-others="true">
                        <accordion-group class="panel panel-info" ng-repeat="repository in repositories" is-open="repository.isActive">
                            <accordion-heading>
                                <div ng-click="repository.select()">
                                    Repository: {{repository.name}} ({{ repository.manager}})
                                </div>
                            </accordion-heading>

                            <div class="panel panel-success" ng-repeat="collection in repository.collections" is-open="collection.isActive">
                                <div class="panel-heading" ng-click="repository.selectCollection(collection)">
                                    Collection: {{ collection.title }}
                                </div>
                                <ul class="list-group" style="font-size:10pt;">
                                    <a class="list-group-item" ng-repeat="text in collection.texts">
                                        <span ng-click="text.reveal()" style="cursor: pointer;">
                                            Resource: {{ text.title }}
                                        </span>
                                        <span class="pull-right">
                                            <div class="btn-group btn-group-xs">
                                                <div type="button" class="btn btn-primary" aria-label="Add Text" ng-click="text.add()">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                    Add
                                                </div>
                                            </div>
                                        </span>
                                    </a>
                                </ul>
                            </div>
                        </accordion-group>
                    </accordion>

                </accordion-group>
                <accordion-group class="panel panel-primary" heading="Add Text by URI">
                    <p>
                        Enter the URI for the text that you wish to add. Vogon
                        will look for the text in known repositories, and (if
                        not found) will attempt to download the text directly
                        from the internet.
                    </p>
                    <input type="text" name="uri" size="80"></input>
                </accordion-group>
                <accordion-group class="panel panel-primary" heading="Upload Text">
                    <div>
                        <input type="file"></input>
                    </div>
                </accordion>
            </accordion>
        </div>
    </div>
    {% endverbatim %}
</body>
</html>
