{% load staticfiles %}
<script src="{% static "annotations/js/angular.min.js" %}"></script>
<script src="{% static "annotations/js/angular-resource.min.js" %}"></script>
<script src="{% static "annotations/js/angucomplete-alt.js" %}"></script>
<script src="{% static "annotations/js/ui-bootstrap-tpls-1.2.5.min.js" %}"></script>
<script src="{% static "annotations/js/isteven-multi-select.js" %}"></script>

<script src="{% static "annotations/js/bootstrap-multiselect.js" %}"></script>
<script src="{% static "annotations/js/bootstrap-multiselect-collapsible-groups.js" %}"></script>
<script src="{% static "annotations/js/angular-cookies.js" %}"></script>
