{% load staticfiles %}
{% load app_filters %}

<html ng-app="annotationApp">
<head>
    <script type="text/javascript"
            src="https://diging.atlassian.net/s/feb56a6b15dfe1c4dce860c5ec0d0c12-T/en_USugtsph-ren-off/70107/dd3ed69607618acd4f2d9e33519d4b21/2.0.7/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=da09a5cd"></script>
    <script>

        var BASELOCATION = "{{baselocation}}";

    </script>

    {% include "annotations/stylesheets.html" %}
    {% include "annotations/angular.html" %}
    {% include "annotations/scripts.html" %}

    <script src="{% static " annotations
    /js/network.js" %}"></script>
    <
    script
    src = "{% static "
    annotations / js / text.js
    " %}" ></script>

    <script>
        var TEXTID = {
        {
            textid
        }
        }
        ;
        var USERID = {
        {
            userid
        }
        }
        ;
    </script>
    <title>{{ title }}</title>
</head>
<body escape-key>
{% include "annotations/header.html" %}
<div id="main" class="container">
    <div class="row col-md-12">
        <div id="left" class="col-md-6">

            <div class="row">
                <div id="text" class="panel panel-primary">
                    <div id="textTitle" class="panel-heading">
                        <span class="h3">{{ text.title }}</span>
                        {% if text.originalResource %}
                        <a href="{{ text.originalResource }}" type="button" class="btn btn-primary pull-right">
                            <span class="glyphicon glyphicon-new-window "></span>
                        </a>
                        {% endif %}
                    </div>
                    <div id="textContent" class="panel-body" textid="{{ textid }}" ng-controller="TextController">
                        <div id="textContentInner" bind-text>{{ text.tokenizedContent|safe_text }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="right" class="col-md-6">
            <div id="text" class="panel panel-primary">
                <div id="textTitle" class="panel-heading">
                    <span class="h3">Information</span>
                </div>
                <div class="panel">
                    <div class="panel-body">
                        <h4>Created on : {{ text.created }}</h4>

                        <h4>Added By : {{text.addedBy.username}}</h4>

                        <h4>Relations : {{text.relation_count}}</h4>

                        <h4>Annotations : {{text.annotation_count}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>
