{% load staticfiles %}

<html>
	{% block head %}
	<head>
		<script type="text/javascript" src="https://diging.atlassian.net/s/feb56a6b15dfe1c4dce860c5ec0d0c12-T/en_USugtsph-ren-off/70107/dd3ed69607618acd4f2d9e33519d4b21/2.0.7/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=da09a5cd"></script>
		<script>

		var BASELOCATION = "{{baselocation}}";

		</script>
		{% include "annotations/stylesheets.html" %}
		{% include "annotations/angular.html" %}
		{% include "annotations/scripts.html" %}
		<title>{{ title }}</title>
	</head>
	{% endblock head %}

	{% block body %}
	<body>
		{% block header %}
		{% include "annotations/header.html" %}
		{% endblock header %}

		{% block main %}
		<div id="main">

		</div>
		{% endblock main %}
	</body>
	{% endblock body %}
</html>
