{% load staticfiles %}
{% load i18n %}

<html>
	{% block head %}
	<head>
        <style>
        .navbar-home {
            background-image: url('{% static "annotations/img/britishmuseum_compressed.jpg" %}');
        }
        .ajax-loading {
            background: url('{% static "annotations/img/ajax-loading.gif" %}') no-repeat right center;
        }
        </style>
        <script>
        var BASE_URL = '{{ base_url }}';
        </script>
		<link href='{% static 'annotations/css/muli.css' %}' rel='stylesheet' type='text/css'>
		<!-- <script type="text/javascript" src="https://diging.atlassian.net/s/feb56a6b15dfe1c4dce860c5ec0d0c12-T/en_USugtsph-ren-off/70107/dd3ed69607618acd4f2d9e33519d4b21/2.0.7/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=da09a5cd"></script> -->
		<!-- TODO: is this necessary? -->
		<script>var BASELOCATION = "{{baselocation}}";</script>
		{% include "annotations/stylesheets.html" %}


        <script src="{% static "annotations/js/jquery.min.js" %}"></script>
        <script src="{% static "annotations/js/jquery-ui.min.js" %}"></script>

        <script src="{% static "annotations/js/bootstrap.min.js" %}"></script>
        <script src="{% static "annotations/js/d3.min.js" %}"></script>

        {% include "annotations/angular.html" %}


        <script>
        var GetURLParameters = function(){
            var params = {};
            var sPageURL = window.location.search.substring(1);
            var sURLVariables = sPageURL.split('&');
            for (var i = 0; i < sURLVariables.length; i++) {
                var sParameterName = sURLVariables[i].split('=');
                params[sParameterName[0]] = sParameterName[1];

            }
            return params;
        }
        </script>


        {% block extrahead %}
        {% endblock %}
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>VogonWeb | {{ title }}</title>

        {% include "annotations/fragment_google_analytics.html" %}

        <script>
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });
        </script>
	</head>
	{% endblock head %}

	{% block body %}
	<body>
		{% block header %}
		{% include "annotations/header.html" %}
		{% endblock header %}
        <div class="breadcrumb-block">
        {% block breadcrumbs %}
        {% endblock %}
        </div>
        <div class="main">
		{% block main %}

		{% endblock main %}
        <!-- <div class="push"></div> -->
        </div>
        {% include "annotations/footer.html" %}
	</body>
	{% endblock body %}
</html>
