{% extends "annotations/list_texts.html" %}
{% load app_filters %}


{% block title %}
<div>
    <span class="h2">Texts in Collection <span class="text text-info">{{ collection.name }}</span></span>
    <span class="btn-group pull-right">
        <a href="{% url 'file_upload' %}" class="btn btn-primary">Upload Text</a>
    </span>
</div>
<div class="text text-muted text-small">
    This collection was created by <a href="{% url "user_details" collection.ownedBy.id %}">{{ collection.ownedBy }}</a>.
</div>

<div class="panel">
    <span class="label label-default">{{ N_appellations }}</span> Appellations | <span class="label label-default">{{ N_relations }}</span> Relations | <span class="label label-default">{{ N_annotated }}</span> annotated texts out of <span class="label label-default">{{ collection.texts.count }}</span> total texts.
</div>
<hr></hr>
{% endblock %}
