{% extends "annotations/list_texts.html" %}
{% load app_filters %}
{% load staticfiles %}

{% block title %}
<div class="panel panel-default">
    <div class="panel-heading">
        <span class="h2">Collection: <span class="text text-info">{{ collection.name }}</span></span>
        <div class="text text-muted text-small">
            This collection was created by <a href="{% url "user_details" collection.ownedBy.id %}">{{ collection.ownedBy }}</a>.
        </div>
    </div>
    <div class="panel-body">
        <span class="label label-default">{{ N_appellations }}</span> appellations | <span class="label label-default">{{ N_relations }}</span> relations | <span class="label label-default">{{ collection.texts.count }}</span> total texts.
    </div>

    {% with owner=collection.ownedBy%}
    {% if user.id == owner.id %}
    <div class="panel-body">
        <form class="form form-horizontal" action="#" method="post" enctype='multipart/form-data'>
            {% csrf_token %}
            <div style="max-height: 100px; overflow-y: scroll;" >
                {{ form.participants }}
            </div>
            <span class="pull-right">
                <input  type="submit" class="btn btn-primary" value="Save Participants" />
            </span>

        </form>
    </div>
    {% endif %}
    {% endwith %}



    <div class="panel-footer clearfix">
        <span class="btn-group pull-right">
            <a href="{% url 'file_upload' %}"  class="btn btn-sm btn-primary">Upload Text</a>
        </span>
    </div>


</div>
{% endblock %}
