{% extends "annotations/base.html" %}
{% load app_filters %}



{% block main %}
<div id="main" class="container-fluid">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-sm-10 col-sm-offset-1">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div>
                <h2>{{type.typed.label}}</h2>
                <p>{{type.description}}</p>
            </div>

        </div>
    </div>
</div>
<table class="table">
  <column id='test'/>
</table>
{% endblock main %}
