{% extends "annotations/base.html" %}
{% load staticfiles %}

{% block main %}

<div id="main" class="container-fluid">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-sm-8 col-sm-offset-2">
            {% block title %}
            <div>
                <span class="h2">All Users</span>
            </div>
            <hr></hr>
            {% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            {% if user_list|length > 0 %}
            <ul class="list-group">
              <div class="list-group row">
                <div class="list-group-item col-sm-3"><h5><b>User Name</b></h5></div>
                <div class="list-group-item col-sm-3"><h5><b>Full Name</b></h5></div>
                <div class="list-group-item col-sm-3"><h5><b>Affiliation</b></h5></div>
                <div class="list-group-item col-sm-3"><h5><b>Location</b></h5></div>
                {% for users in user_list %}
                  <a href="#" class="list-group-item col-sm-3">{{ users.username }}</a>
                  <div class="list-group-item col-sm-3">{{user.full_name}}</div>
                  <div class="list-group-item col-sm-3">{{user.affiliation}}</div>
                  <div class="list-group-item col-sm-3">{{user.location}}</div>
                {% endfor %}
              </div>
            </ul>

            <div>
                <ul class="pagination pagination-sm">
                    {% if texts.has_previous %}
                    <li>
                        <a href="?page={{ user_list.previous_page_number }}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </lu>
                    {% endif %}
                    {% for p in user_list.paginator.page_range %}
                    <li{% if p == user_list.number %} class="active"{% endif %}>
                        <a href="?page={{p}}">{{p}}</a>
                    </li>
                    {% endfor %}
                    {% if user_list.has_next %}
                    <li>
                        <a href="?page={{ user_list.next_page_number }}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </lu>
                    {% endif %}
                </ul>
            </div>
            {% else %}
            <p>No users to display.</p>
            {% endif %}

        </div>
    </div>
</div>
{% endblock main %}
