{% extends "annotations/base.html" %}
{% load staticfiles %}

{% block breadcrumbs %}
<a href="{% url "home" %}" class="btn btn-xs">Home</a>&raquo;<a href="{% url "users" %}" class="btn btn-xs">Contributors</a>
{% endblock %}


{% block main %}

<div id="main" class="container-fluid">


    {% block title %}
    <div class="h2">Contributors</div>
    {% endblock %}

        <form class="form" role="search">
            <div class="input-group col-xs-12">
                <input type="text"
                    class="form-control"
                    placeholder="Search..."
                    {% if search_term %}value="{{search_term}}"{% endif %}
                    name="search_term" id="search_term"></input>
                <span class="input-group-btn">
                    <span class="btn btn-success">Search</span>
                </span>
            </div>

        </form>


    

          {% if user_list|length > 0 %}

            <!-- <table class="table table-hover table-responsive table-condensed">
              <thead>
                <tr>
                  <th class="col-sm-3">
                    <a class="h4" style="text-decoration: none; vertical-align: middle;"
                       href="{% if sort_column == '-username' %}?sort=username{% else %}?sort=-username{% endif %}{% if search_term %}&search_term={{search_term}}{% endif %}">
                       User Name
                    </a>
                    <a class="btn btn-sm btn-default" aria-label="Left Align"
                       href="{% if sort_column == '-username' %}?sort=username{% else %}?sort=-username{% endif %}{% if search_term %}&search_term={{search_term}}{% endif %}">
                        <span class="glyphicon glyphicon-sort-by-alphabet{% if order_by != '-username' %}-alt{% endif %}" aria-hidden="true"></span>
                    </a>
                  </th>
                  <th class="col-sm-3">
                    <a class="h4" style="text-decoration: none; vertical-align: middle;"
                       href="{% if sort_column == '-full_name' %}?sort=full_name{% else %}?sort=-full_name{% endif %}{% if search_term %}&search_term={{search_term}}{% endif %}">
                       Full Name
                    </a>
                    <a class="btn btn-sm btn-default" aria-label="Left Align"
                       href="{% if sort_column == '-full_name' %}?sort=full_name{% else %}?sort=-full_name{% endif %}{% if search_term %}&search_term={{search_term}}{% endif %}">
                        <span class="glyphicon glyphicon-sort-by-alphabet{% if order_by != '-full_name' %}-alt{% endif %}" aria-hidden="true"></span>
                    </a>
                  </th>
                  <th class="col-sm-3">
                    <a class="h4" style="text-decoration: none; vertical-align: middle;"
                       href="{% if sort_column == '-affiliation' %}?sort=affiliation{% else %}?sort=-affiliation{% endif %}{% if search_term %}&search_term={{search_term}}{% endif %}">
                       Affiliation
                    </a>
                    <a class="btn btn-sm btn-default" aria-label="Left Align"
                       href="{% if sort_column == '-affiliation' %}?sort=affiliation{% else %}?sort=-affiliation{% endif %}{% if search_term %}&search_term={{search_term}}{% endif %}">
                        <span class="glyphicon glyphicon-sort-by-alphabet{% if order_by != '-affiliation' %}-alt{% endif %}" aria-hidden="true"></span>
                    </a>
                  </th>
                  <th class="col-sm-3">
                    <a class="h4" style="text-decoration: none; vertical-align: middle;"
                       href="{% if sort_column == '-location' %}?sort=location{% else %}?sort=-location{% endif %}{% if search_term %}&search_term={{search_term}}{% endif %}">
                       Location
                    </a>
                    <a class="btn btn-sm btn-default" aria-label="Left Align"
                       href="{% if sort_column == '-location' %}?sort=location{% else %}?sort=-location{% endif %}{% if search_term %}&search_term={{search_term}}{% endif %}">
                        <span class="glyphicon glyphicon-sort-by-alphabet{% if order_by != '-location' %}-alt{% endif %}" aria-hidden="true"></span>
                    </a>
                  </th>
                </tr>
              </thead>
              <tbody> -->
        <div class="list-group">
            {% for user in user_list %}
            <a href="{% url "user_details" user.id %}"
                class="contributor-container clearfix list-group-item">
                <div class="col-xs-6">
                    <img class="pull-left img img-responsive img-rounded"
                        src="{% if user.imagefile %}{{ user.imagefile }}{% else %}https://s3-us-west-2.amazonaws.com/vogonweb-test/defaultprofile.png{% endif %}"
                        width="60px">

                    <div class="contributor-details clearfix">
                        <div>{{ user.username }}{% if user.full_name %} |  <span class="text-muted">{{user.full_name}}</span>{% endif %}
                            {% if users.is_admin %}
                            <span class="glyphicon glyphicon-user"></span>
                            {% endif %}
                        </div>
                        {% if user.affiliation %}
                        <div class="text-warning">
                            {{user.affiliation}}
                        </div>
                        {% endif %}
                        {% if user.location %}
                        <div>
                            {{user.location}}
                        </div>
                        {% endif %}

                    </div>
                </div>

                <div class="col-xs-6">
                    <span class="text-muted">{{ user.appellation_set.count }} appellations </span>
                    <span class="text-muted">{{ user.relation_set.count }} relations </span>
                    <span class="text-muted">{{ user.addedTexts.count }} texts </span>
                </div>
            </a>
            {% endfor %}
        </div>
              <!-- </tbody>
            </table> -->

            <div>
                <ul class="pagination pagination-sm">
                    {% if user_list.has_previous %}
                    <li>
                        <a href="?page={{ user_list.previous_page_number }}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </lu>
                    {% endif %}
                    {% for p in user_list.paginator.page_range %}
                    <li{% if p == user_list.number %} class="active"{% endif %}>
                        <a href="?page={{p}}&sort={{sort_column}}{% if search_term %}&search_term={{search_term}}{% endif %}">{{p}}</a>
                    </li>
                    {% endfor %}
                    {% if user_list.has_next %}
                    <li>
                        <a href="?page={{ user_list.next_page_number }}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            {% else %}
            <p>No users to display.</p>
            {% endif %}



</div>
{% endblock main %}
