{% extends "annotations/base.html" %}
{% load staticfiles %}

{% block main %}

<div id="main" class="container-fluid">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-sm-8 col-sm-offset-2">
            {% block title %}
            <div>
                <span class="h2">All Users</span>
            </div>
            <hr></hr>
            {% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          {% if user_list|length > 0 %}
          <div class = "table-responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th class="col-sm-3"><a href="?sort=user_name"><h5><b>User Name</b></h5></a></th>
                  <th class="col-sm-3"><a href="?sort=name"><h5><b>Full Name</b></h5></a></th>
                  <th class="col-sm-3"><a href="?sort=aff"><h5><b>Affiliation</b></h5></a></th>
                  <th class="col-sm-3"><a href="?sort=loc"><h5><b>Location</b></h5></a></th>
                </tr>
              </thead>
              <tbody>
                {% for users in user_list %}
                <tr>
                  {% if users.is_admin %}
                    <td href="/user/{{users.id}}/" class="col-sm-3">
                    <a href="/user/{{users.id}}/">{{ users.username }} &nbsp;<span class="glyphicon glyphicon-user"></span></a></td>
                  {% else %}
                  <td  class="col-sm-3"><a href="/user/{{users.id}}/">{{ users.username }}</a></td>
                  {% endif %}
                  <td class="col-sm-3">{% if users.full_name %}{{users.full_name}}{% endif %}</td>
                  <td class="col-sm-3">{% if users.affiliation %}{{users.affiliation}}{% endif %}</td>
                  <td class="col-sm-3">{% if users.location %}{{users.location}}{% endif %}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
            <div>
                <ul class="pagination pagination-sm">
                    {% if user_list.has_previous %}
                    <li>
                        <a href="?page={{ user_list.previous_page_number }}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </lu>
                    {% endif %}
                    {% for p in user_list.paginator.page_range %}
                    <li{% if p == user_list.number %} class="active"{% endif %}>
                        <a href="?page={{p}}&sort={{sort_column}}">{{p}}</a>
                    </li>
                    {% endfor %}
                    {% if user_list.has_next %}
                    <li>
                        <a href="?page={{ user_list.next_page_number }}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            {% else %}
            <p>No users to display.</p>
            {% endif %}

        </div>
    </div>
</div>
{% endblock main %}
