{% extends "annotations/base.html" %}
{% load staticfiles %}

{% block main %}
<div id="main">
	<!-- <div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="panel panel-success">
				<div class="panel-heading text-center">
					My Contributions
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-4 text-center">
							<h4><span class="text-danger">{{ textCount }}</span> texts</h4>
						</div>
						<div class="col-sm-4 text-center">
							<h4><span class="text-danger">{{ appellationCount }}</span> appellations</h4>
						</div>
						<div class="col-sm-4 text-center">
							<h4><span class="text-danger">{{ relationCount }}</span> relations</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<div class="row col-sm-12">
		<div class="col-sm-6">
			{% include "annotations/user_collections.html" %}
		</div>
		<div class="col-sm-6">
			{% include "annotations/user_recent_texts.html" %}
		</div>
	</div>
</div>
{% endblock %}
