{% extends "annotations/base.html" %}
{% load staticfiles %}

{% block breadcrumbs %}
<a href="{% url "home" %}" class="btn btn-xs">Home</a>&raquo;<a href="{% url "dashboard" %}" class="btn btn-xs">Dashboard</a>
{% endblock %}

{% block main %}

<div class="container-fluid">
    <div class="h2">Welcome back, {{ user.username }}</div>
        <div class="row">
            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-heading clearfix">
                        <span class="h4">Recently Annotated</span>
                        <!-- <span class="pull-right btn-group">
                            <a href="" class="btn btn-xs">View all</a>
                        </span> -->
                    </div>
                    <div class="list-group">
                        {% for text in recent_texts %}
                        <a class="list-group-item" href="{{ text.get_absolute_url }}">{{ text.top_level_text.title }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-heading clearfix">
                        <span class="h4">Recently Added</span>
                        <!-- <span class="pull-right btn-group">
                            <a href="" class="btn btn-xs">View all</a>
                        </span> -->
                    </div>
                    <div class="list-group">
                        {% for text in added_texts %}
                        <a class="list-group-item" href="{{ text.get_absolute_url }}">{{ text.title }}</a>
                        {% endfor %}
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-heading clearfix">
                        <span class="h4">
                            My Projects
                        </span>
                        <div class="pull-right btn-group">
                            <a href="{% url "user_projects" %}" class="btn btn-xs">View all</a>
                            <a href="{% url "create_project" %}" class="btn btn-xs">Create</a>
                        </div>

                    </div>
                    <div class="list-group">
                        {% for project in projects_owned %}
                        <a class="list-group-item" href="{% url "view_project" project.id %}">
                            <strong>{{ project.name }}</strong>
                            <p class="text-muted">{{ project.description }}</p>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>


        {% if relations %}
        <div class="h3">My Recent Annotations
            <a class="btn btn-sm" href="{% url "relations" %}?createdBy={{ user.id }}">See all</a>
        </div>
        {% include "annotations/relations_list_fragment.html" %}
        {% endif %}
</div>



{% endblock %}
