{% extends "annotations/base.html" %}
{% load staticfiles %}


{% block main %}

    <div id="main" class="container">
        <div class="h2 text-center">{{ error_message }}</div>
        <div class="text-warning text-center">
            <a href="{% url "dashboard" %}">Back to safety</a>
        </div>
        <div class="blurry_text_block">
            <p class="blurry_text" align="justify">
                Bacon ipsum dolor amet ham hock doner nulla sed, labore beef nostrud esse rump
                elit shankle capicola beef ribs dolor et. Jerky pig mollit ut sed ground round culpa, laborum strip
                steak fatback labore tongue non. Bacon leberkas aliquip ham. Ribeye salami proident incididunt
                drumstick. Do esse meatloaf bacon id, brisket drumstick turkey shankle chuck biltong enim eu shoulder
                excepteur. Nulla dolor dolore exercitation laborum.
            </p>
            <p class="blurry_text" align="justify">
                Fatback dolore chuck flank exercitation t-bone shank occaecat elit excepteur tail ut cupidatat. Sint
                ball tip reprehenderit meatloaf, shoulder t-bone aliqua esse irure picanha flank in chicken jowl
                nostrud. Pig cow kevin labore andouille capicola. Cupim kielbasa shank ribeye consequat, swine dolore
                strip steak. Jerky cillum aliquip labore ground round. Cillum est turkey boudin officia jowl porchetta
                corned beef.
            </p>
            <p class="blurry_text" align="justify">
                Tenderloin adipisicing short loin duis enim. Pork belly alcatra beef tail tenderloin reprehenderit
                pastrami pork chop ball tip ea t-bone dolore in kevin consequat. Turkey aute filet mignon, et proident
                ut aliquip. Pastrami ut pariatur beef. Ad voluptate proident est anim. Chuck duis fugiat lorem velit
                beef ribs tongue pork belly jowl sed ex pork loin deserunt. Aute filet mignon alcatra consectetur ut
                bresaola chicken laboris.
                Cupim shankle qui reprehenderit incididunt cillum. Ea leberkas reprehenderit beef ham hock deserunt
                prosciutto exercitation meatloaf hamburger aute spare ribs jowl. Sint ribeye drumstick meatloaf commodo
                ut aliqua consectetur. Dolor labore tri-tip kevin, in pig rump officia ball tip meatball ullamco non
                chicken swine bresaola. Fugiat picanha sunt anim, filet mignon kielbasa pork capicola ut short loin tail
                turducken. Beef picanha ham ut elit tongue dolor, labore tempor capicola frankfurter.
            </p>
            <p class="blurry_text" align="justify">
                Boudin meatball quis turducken, shankle aliqua jerky cupim eu landjaeger prosciutto. Ut turducken short
                ribs, deserunt quis beef ribs exercitation esse aute et aliqua nisi proident. Minim picanha sunt in. Sed
                corned beef fugiat, jerky velit ham hock biltong beef ribs proident. Minim picanha sunt in.
            </p>
        </div>
    </div>
    </div>

{% endblock main %}
