{% load staticfiles %}
{% load i18n %}

<div id="header" class="{% block extranavcontainerclasses %}{% endblock %}">
	<nav class="navbar navbar-inverse {% block extranavclasses %}{% endblock %}">
			<div class="navbar-header clearfix">
				<a class="navbar-brand" href="{% url "home" %}">
					<img alt="Brand" src="{% static "annotations/img/VogonTiny_beta.png" %}" />
				</a>

				<ul class="nav navbar-nav">
					<li><a href="{% url "dashboard" %}" class="btn btn-lg"><span class="glyphicon glyphicon-dashboard"></span></a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle btn btn-lg"
                            data-toggle="dropdown"
                            role="button"
                            aria-haspopup="true"
                            aria-expanded="false">
                            <span class="glyphicon glyphicon-book"></span> <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{% url "repository_list" %}">Texts</a></li>
							<li><a href="{% url "list_projects" %}">Projects</a></li>
						</ul>

					</li>
					<li >
                        <a href="{% url "users" %}" class="btn btn-lg"  data-toggle="tooltip" title="Contributors">
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="btn btn-lg" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-equalizer"></span> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url "concepts" %}">Concepts</a></li>
                            <li><a href="{% url "relations" %}">Annotations</a></li>
                        </ul>
                    </li>
					<li class="dropdown">
                        <a href="#" class="btn btn-lg" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url "about" %}">Overview</a></li>
                            <li><a href="{% url "about" %}#goodfer">Use Cases</a></li>
                            <li><a href="{% url "about" %}#team">Our Team</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li class="">
    					{% if user.is_authenticated  %}
    					<button class="btn btn-default btn-xs dropdown-toggler"
                            type="button"
                            id="usermenu"
                            style="margin-top: 8px; margin-right: 8px;"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="true">
    						{{ user.username }}
    						<span class="caret"></span>
    					</button>
    					<ul class="dropdown-menu" aria-labelledby="usermenu">
    						<li><a href="/accounts/profile/">Dashboard</a></li>
    						<li><a href="/accounts/settings/">Settings</a></li>
    						<li><a href="/accounts/logout/">Log Out</a></li>
    						{% if user.is_staff %}
    							<li><a href="/admin/">Admin Site</a></li>
    						{% endif %}
    					</ul>
    					{% else %}
                            <a class="btn btn-lg" href="{% url 'social:begin' 'github' %}">
                                <i class="glyphicon fa fa-github" aria-hidden="true"></i>
                                 {% trans 'Log in' %}
                             </a>

    					{% endif %}
    				</li>
				</ul>

			</div><!--/.nav-collapse -->

	</nav>
    {% block extraheader %}
    {% endblock %}
</div>
