{% load staticfiles %}

<div id="header">
	<nav class="navbar navbar-inverse">
		<div class="container">

			<div class="navbar-header">
				<a class="navbar-brand" href="{% url "home" %}">
					<img alt="Brand" src="{% static "annotations/img/VogonTiny.png" %}" height="100%" />
				</a>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>


			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="{% url "dashboard" %}">Dashboard</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Texts <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{% url "text_search" %}">All Texts</a></li>
							<li><a href="{% url "collection_list" %}">Collections</a></li>
						</ul>

					</li>
					<li><a href="{% url "network" %}">Network</a></li>
					<li><a href="{% url "user" %}">Contributors</a></li>
					<li><a href="{% url "about" %}">About</a></li>
				</ul>
				<div class="dropdown pull-right" id="userdropdown">
					{% if user.is_authenticated  %}
					<button class="btn btn-default dropdown-toggler" type="button" id="usermenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						{{ user.username }}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="usermenu">
						<li><a href="/accounts/profile/">Dashboard</a></li>
						<li><a href="/accounts/settings/">Settings</a></li>
						<li><a href="/accounts/logout/">Log Out</a></li>
						{% if user.is_staff %}
							<li><a href="/admin/">Admin Site</a></li>
						{% endif %}
					</ul>
					{% else %}
					<div class="btn-group" role="group" aria-label="usermgmt">
						<a href="/accounts/register/" class="btn btn-primary" id="registerButton">Register</a>
						<a href="/accounts/login/" class="btn btn-primary" id="loginButton">Log In</a>
					</div>
					{% endif %}
				</div>
			</div><!--/.nav-collapse -->
		</div>
	</nav>
</div>
