{% extends "annotations/base.html" %}
{% load staticfiles %}
{% load i18n admin_static %}
{% load addcss %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static " admin/css/login_.css" %}" />{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block header %}
{% include "annotations/header_home.html" %}
{% endblock %}

    {% block main %}
    <script src="{% static "annotations/js/spin.min.js" %}"></script>
    <script src="{% static "annotations/js/jquery.spin.js" %}"></script>
    {% if relations %}
    <div class="container">
        <div class="h3">Recent Annotations
            <a class="btn btn-sm" href="{% url "relations" %}">See all</a>
        </div>
        {% include "annotations/relations_list_fragment.html" %}
    </div>
    {% endif %}

    <div id="build" class="container-fluid section" style="margin-top: 15px;">
    	<div class="text-center panel-heading">
            {% if user.is_authenticated %}
            {% else %}
    		<span class="pull-right">
				{% load socialaccount %}
                {% comment %} <a class="btn btn-sm" href="{% url 'social:begin' 'github' %}"><i class="fa fa-github" aria-hidden="true"></i> {% trans 'Log in' %}</a> to get started! {% endcomment %}
                <a class="btn btn-sm" href="{% provider_login_url 'github' %}"><i class="fa fa-github" aria-hidden="true"></i> {% trans 'Log in' %}</a> to get started!
                <!-- with <a href="#" class="fa fa-github" aria-hidden="true"> GitHub</a> -->
    		</span>
            {% endif %}
    		<div class="h1">Let's build the epistemic web, together.</div>
    		<p>
    			The concept of the epistemic web was first introduced by
    			<a href="http://www.edition-open-access.de/studies/1/36/index.html">Malcolm Hyman and Jürgen Renn</a> as a new
    			chapter in the history of knowledge representation. While the semantic web represents knowledge as a static graph of
    			concepts and propositions, the epistemic web encodes the multi-dimensional contexts in which those concepts and
    			propositions emerge: the texts that embed them, the times, places, and contexts of interpretation that constitute
    			local forms and moments of knowledge and knowledge-making.
    		</p>
    	</div>
    	<div class="text-center row">
    		<div class="col-sm-4 text-center">
    			<div class="responsive-h2">1. Digital Texts</div>
    			<div class="row">
    				<img class="img img-responsive img-rounded col-xs-8 col-xs-offset-2"
    					style="border: 2px solid gray; padding: 0px;"
    					src="{% static 'annotations/images/text.png' %}" />
    			</div>
    			<div class="row">
    				<p class="responsive-p col-xs-10 col-xs-offset-1">
    					Everything begins with texts: digitized archival materials, images, webpages,
    					even your own publications. Upload texts to our secure server, or select texts
    					from an online repository.
    				</p>
    			</div>
    			<p>
    				<a href="{% url "about" %}#materials">What can I annotate?</a>
    			</p>
    		</div>
    		<div class="col-sm-4">
    			<div class="responsive-h2">2. Annotate</div>
    			<div class="row">
    				<img class="img img-responsive img-rounded col-xs-8 col-xs-offset-2"
    					style="border: 2px solid gray; padding: 0px;"
    					src="{% static 'annotations/images/annotated.png' %}" />
    			</div>
    			<div class="row">
    				<p class="responsive-p col-xs-10 col-xs-offset-1">
    					Tag phrases or passages with concepts and relationships that matter to
    					<span class="heavy">your research</span>. You don't need a rigid ontology.
    					Use concepts from existing authorities, or create your own.
    				</p>
    			</div>
    			<p>
    				<a href="{% url "about" %}#how">How does it work?</a>
    			</p>
    		</div>
    		<div class="col-sm-4">
    			<div class="responsive-h2">3. Share, Search, Explore</div>
    			<div class="row">
    				<img class="img img-responsive img-rounded col-xs-8 col-xs-offset-2"
    					style="border: 2px solid gray; padding: 0px;"
    					src="{% static 'annotations/images/graph.png' %}" />
    			</div>
    			<div class="row">
    				<p class="responsive-p col-xs-10 col-xs-offset-1">
    					Your annotations join a rapidly-growing searchable database of interpretations.
    					See how the concepts in your project connect to a broader landscape of
    					actors, events, and ideas.
    				</p>
    			</div>
    			<p>
    				<a href="{% url "about" %}#goodfer">What use is that, anyway?</a>
    			</p>
    		</div>
    	</div>

    </div>



    {% endblock %}
