{% extends "annotations/base.html" %}
{% load app_filters %}



{% block main %}
<div id="main" class="container-fluid">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-sm-8 col-sm-offset-2">
            {% block title %}
            <div>
                <span class="h2">All Texts</span>
                <span class="btn-group pull-right">
                    <a href="{% url 'file_upload' %}" class="btn btn-primary">Upload Text</a>
                </span>
            </div>
            <hr></hr>
            {% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            {% if texts|length > 0 %}
            <table class="table table-hover">
              <th>Text title</th>
              <th>Count</th>
              {% for text in texts %}
              <tr class="text-table">
                <td><a href="{% url "text" text.id %}">{{ text.title }}</a></td:>
                <td>{{ text.relationCount }}</td>
              </tr>
              {% endfor %}
            </table>

            <div>
                <ul class="pagination pagination-sm">
                    {% if texts.has_previous %}
                    <li>
                        <a href="?page={{ texts.previous_page_number }}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </lu>
                    {% endif %}
                    {% for p in texts.paginator.page_range %}
                    <li{% if p == texts.number %} class="active"{% endif %}>
                        <a href="?page={{p}}">{{p}}</a>
                    </li>
                    {% endfor %}
                    {% if texts.has_next %}
                    <li>
                        <a href="?page={{ texts.next_page_number }}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </lu>
                    {% endif %}
                </ul>
            </div>
            {% else %}
            <p>No texts to display.</p>
            {% endif %}

        </div>
    </div>
</div>
<table class="table">
  <column id='test'/>
</table>
{% endblock main %}
