{% extends "annotations/base.html" %}
{% load app_filters %}



{% block main %}
<div id="main" class="container">

    {% block title %}
    <div>
        <span class="h2">All Collections</span>
    </div>
    <hr></hr>
    {% endblock %}


    <div class="row">
        <div>
            {% if collections|length > 0 %}
            <ul class="list-group">
            {% for collection in collections %}
                <a href="{% url "text_search" %}?selected_facets=collections_exact:{{ collection.id }}" class="list-group-item">{{ collection.name }} <span class="pull-right badge" data-toggle="tooltip" data-placement="top" title="{{ collection.texts.count }} texts in this collection">{{ collection.texts.count }}</span></a>

            {% endfor %}
            </ul>

            <div>
                <ul class="pagination pagination-sm">
                    {% if collections.has_previous %}
                    <li>
                        <a href="?page={{ collections.previous_page_number }}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </lu>
                    {% endif %}
                    {% for p in collections.paginator.page_range %}
                    <li{% if p == collections.number %} class="active"{% endif %}>
                        <a href="?page={{p}}">{{p}}</a>
                    </li>
                    {% endfor %}
                    {% if collections.has_next %}
                    <li>
                        <a href="?page={{ collections.next_page_number }}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </lu>
                    {% endif %}
                </ul>
            </div>
            {% else %}
            <p>No collections to display.</p>
            {% endif %}

        </div>
    </div>
</div>
{% endblock main %}
