{% extends "annotations/base.html" %}
{% load staticfiles %}
{% block extrahead %}



{% endblock %}


{% block main %}

<script src="{% static "annotations/js/d3.min.js" %}"></script>
<script src="{% static "annotations/js/fisheye.js" %}"></script>

<div class="container-fluid">
    <div class="row" style="margin-top: 15px;">
        <div class="col-md-8">
            <div class="panel" id="networkVis" style="height: 600px;"></div>
        </div>
        <div class="col-md-4">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4>Selection</h4>
                            </div>
                            <div class="panel-body" id="concept-details">
                                <div><a id="concept-href"><span id="concept-label" class="text-primary h4"></span></a></div>
                                <div id="concept-uri" class="text text-muted text-tiny"></div>
                                <div id="concept-description" class="text"></div>
                                <div id="concept-occurrence" class="text"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4>Occurs in...</h4>
                            </div>
                            <div>
                                <table class="table table-responsive table-hover">
                                    <tbody id="text-list"></tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
$.ajax({
    type: "GET",
    contentType: "application/json; charset=utf-8",
    url: '{% url "network-data" %}',
    dataType: 'json',
    async: true,
    success: function (data) {
        update(data);
    },
    error: function (result) {
    }
});


var getConcept = function(id, callback) {
    $.ajax({
        type: "GET",
        contentType: "application/json; charset=utf-8",
        url: "/rest/concept/" + id,
        dataType: 'json',
        async: true,
        success: function (data) {
            callback(data);
        },
        error: function (result) {
        }
    });
}

var getRelations = function(concept_a, concept_b, callback) {
    $.ajax({
        type: "GET",
        contentType: "application/json; charset=utf-8",
        url: "/rest/relation?related_concepts=" + concept_a.concept_id + '&related_concepts=' + concept_b.concept_id,
        dataType: 'json',
        async: true,
        success: function (data) {
            callback(data);
        },
        error: function (result) {
        }
    });
}

var getTextsForConcept = function(id, callback) {
    $.ajax({
        type: "GET",
        contentType: "application/json; charset=utf-8",
        url: "/rest/text?concept=" + id,
        dataType: 'json',
        async: true,
        success: function (data) {
            callback(data);
        },
        error: function (result) {
        }
    });
}

var getTextsForConcepts = function(concept_a, concept_b, callback) {
    $.ajax({
        type: "GET",
        contentType: "application/json; charset=utf-8",
        url: "/rest/text?related_concepts=" + concept_a.concept_id + '&related_concepts=' + concept_b.concept_id,
        dataType: 'json',
        async: true,
        success: function (data) {
            callback(data);
        },
        error: function (result) {
        }
    });
}

var getAppellationsForConcept = function(text_id, concept_id, callback) {
    $.ajax({
        type: "GET",
        contentType: "application/json; charset=utf-8",
        url: "/rest/appellation?concept=" + concept_id + "&text=" + text_id,
        dataType: 'json',
        async: true,
        success: function (data) {
            callback(data);
        },
        error: function (result) {
        }
    });
}

var displayConcept = function(concept) {
    $('#concept-href').attr('href', '/concept/' + concept.id + '/');
    $('#concept-label').text(concept.label);
    $('#concept-uri').text(concept.uri);
    $('#concept-description').text(concept.description);
}

var displayRelation = function(concept_a, concept_b) {
    $('#concept-href').attr('href', '/relations/' + concept_a.concept_id + '/' + concept_b.concept_id + '/');
    $('#concept-label').text(concept_a.label + ' & ' + concept_b.label);
    $('#concept-uri').text('');
    $('#concept-description').text('');
}

var displayTexts = function(texts) {
    $('#text-list').empty();
    texts.forEach(function(text) {
        $('#text-list')
            .append('<tr><td class="text-small"><a href="/text/' + text.id + '/">' + text.title + '</a></td></tr>');
    });
}

var selected = {
    id: null,
    source: {id: null},
    target: {id: null}
};
var node_stroke = "rgba(40, 96, 144, 1.0)";
var node_stroke_width = "4";
var linkDistance = 100;
var height = 600;
var margin = {top: 0, right: 1, bottom: 0, left: 1}
    , width = parseInt(d3.select('#networkVis').style('width'), 10)
    , width = width - margin.left - margin.right
    , percent = d3.format('%');

function resize() {
    // Update size of visualization as parent element resizes.
    width = parseInt(d3.select('#networkVis').style('width'), 10);
    width = width - margin.left - margin.right;
    svg.attr('height', (height + margin.top + margin.bottom) + 'px')
        .attr('width', (width + margin.left + margin.right) + 'px');
}

var zoom = d3.behavior.zoom()
    .scaleExtent([0.5, 10])
    .on("zoom", zoomed);

var svg = d3.select("#networkVis")
  .append("svg:svg")
    .attr("width", width)
    .attr("height", height)
    .attr("pointer-events", "all")
  .append('svg:g')
    .call(zoom)
  .append('svg:g');

svg.append('svg:rect')
    .attr('width', width)
    .attr('height', height)
    .attr('fill', 'white');

function zoomed() {
    svg.attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
}

function update(data) {
    var deselectAllNodes = function() {
        d3.select('.nodeSelected')
            .classed("nodeSelected", false);

        d3.select("#node_" + selected.id + ">circle")
            .attr("stroke", "none");
        d3.select('#node_' + selected.id + ">.nodeLabel")
            .style("visibility", "hidden");
        d3.select("#node_" + selected.source.id + ">circle")
            .attr("stroke", "none");
        d3.select('#node_' + selected.source.id + ">.nodeLabel")
            .style("visibility", "hidden");
        d3.select("#node_" + selected.target.id + ">circle")
            .attr("stroke", "none");
        d3.select('#node_' + selected.target.id + ">.nodeLabel")
            .style("visibility", "hidden");
    }

    var deselectAllEdges = function() {
        d3.select('.edgeSelected').classed("edgeSelected", false);
        edge.style("stroke", "black")
            .style("stroke-width", function(d) {
                return Math.sqrt(d.size) * 2;
            });
    }

    var selectNode = function(n) {
        selected = n;
        selected.type = 'node';
        selected.source = {id: null};
        selected.target = {id: null};
        d3.select('#node_' + n.id).classed("nodeSelected", true);
    }

    var selectEdge = function(e) {
        selected = e;
        selected.type = 'edge';
        highlightEdge(e);
    }

    var highlightNode = function(n) {
        d3.select('#node_' + n.id + ">.nodeLabel")
            .style("visibility", "visible");

        d3.select("#node_" + n.id + ">circle")
            .attr("stroke", "orange")
            .attr("stroke-width", 3);
    }

    var highlightEdge = function(e) {
        d3.select("#edge_" + e.id)
            .style("stroke-width", Math.sqrt(e.size) * 6)
            .style("stroke", "orange");

        highlightNode(e.source);
        highlightNode(e.target);
    }

    var unhighlightEdge = function(e) {
        d3.select("#edge_" + e.id)
            .style("stroke-width", Math.sqrt(e.size) * 3)
            .style("stroke", "black");
    }

    var unhighlightNode = function(n) {
        d3.select('#node_' + n.id + ">.nodeLabel")
            .style("visibility", "hidden");
        d3.select("#node_" + n.id + ">circle")
            .attr("stroke", node_stroke)
            .attr("stroke-width", node_stroke_width);
    }

    svg.selectAll('*').remove();

    var fisheye = d3.fisheye.circular()
        .radius(200)
        .distortion(1);

    svg.on("mousemove", function() {
        fisheye.focus(d3.mouse(this));

        edge.each(function(d) {
                d.source.fisheye = fisheye(d.source);
                d.target.fisheye = fisheye(d.target);
            })
            .attr("x1", function(d) { return d.source.fisheye.x; })
            .attr("y1", function(d) { return d.source.fisheye.y; })
            .attr("x2", function(d) { return d.target.fisheye.x; })
            .attr("y2", function(d) { return d.target.fisheye.y; });
        node.each(function(d) {
            d.fisheye = fisheye(d);
            d3.select('#node_' + d.id + '>circle')
            .attr("r", d.fisheye.z * d.size * 6);
        })
        .attr("transform", function(d) {
            return "translate(" + d.fisheye.x +  "," + d.fisheye.y + ")";
        });

    }).append('rect')
      .attr('class', 'click-capture')
      .style('visibility', 'hidden')
      .attr('x', 0)
      .attr('y', 0)
      .attr('width', width*2)
      .attr('height', height*2);

    var edge = svg.selectAll(".edge")
        .data(data.edges)
        .enter().append("svg:line")
        .attr("class", "edge")
        .attr("id", function(d) { return 'edge_'+d.id; })
        .style("stroke", "black")
        .style("stroke-width", function(d) { return Math.sqrt(d.size) * 3; });

    var node = svg.selectAll(".node")
        .data(data.nodes)
        .enter().append("g")
        .attr("class", "node")
        .attr("id", function(d) { return 'node_'+d.id; });

    node.append("svg:circle")
        .attr("r", function(d) { return d.size * 6; })
        .attr("stroke", node_stroke)
        .attr("stroke-width", node_stroke_width)
        .attr("class", "node");

    node.append("text")
        .attr('dx', 12)
        .attr('dy', "0.35em")
        .attr("class", "nodeLabel")
        .text(function(d) { return d.label; });


    node.on("click", function(n) {
        deselectAllNodes();
        deselectAllEdges();

        selectNode(n);
        getConcept(n.concept_id, displayConcept);
        getTextsForConcept(n.concept_id, displayTexts);
    });


    node.on("mouseover", function(n) {
        if (selected.source.id != n.id & selected.target.id != n.id) {
            d3.select("#node_" + n.id + ">circle")
                .attr("stroke", "orange")
                .attr("stroke-width", 3);
            d3.select('#node_' + n.id + ">.nodeLabel")
                .style("visibility", "visible");
        }
    });

    node.on("mouseout", function(n) {
        if (selected.id != n.id & selected.source.id != n.id & selected.target.id != n.id) {
            d3.select("#node_" + n.id + ">circle")
                .attr("stroke", "null");
            d3.select('#node_' + n.id + ">.nodeLabel")
                .style("visibility", "hidden");
        }
    });

    edge.on("click", function(e) {
        deselectAllNodes();
        deselectAllEdges();

        selectEdge(e);

        getRelations(e.source, e.target, function(data) {
            displayRelation(e.source, e.target);
        });
        getTextsForConcepts(e.source, e.target, displayTexts);
        // getTextsForConcept(n.concept_id, displayTexts);
    })

    edge.on("mouseover", function(e) {
        highlightEdge(e);
    });

    edge.on("mouseout", function(e) {

        if (!selected.type) {
            unhighlightEdge(e);
            unhighlightNode(e.source);
            unhighlightNode(e.target);
        }
        if (selected.type == 'edge') {

            if (selected.id != e.id) {

                unhighlightEdge(e);
            }
            if (selected.source.id != e.source.id & selected.target.id != e.source.id) {
                unhighlightNode(e.source);
            }
            if (selected.source.id != e.target.id & selected.target.id != e.target.id) {
                unhighlightNode(e.target);
            }
        }
        if (selected.type == 'node') {
            unhighlightEdge(e);
            if (selected.id != e.source.id) {
                unhighlightNode(e.source);
            }
            if (selected.id != e.target.id) {
                unhighlightNode(e.target);
            }
        }
    });

    edge.each(function(d) {
            d.source.x += width/2;
            d.source.y += height/2;
            d.target.x += width/2;
            d.target.y += height/2;
        })
        .attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node.each(function(d) {
            d.x += width/2;
            d.y += height/2;
        })
        .attr("transform", function(d) {
            return "translate(" + d.x +  "," + d.y + ")";
        });


    // svg.append('defs').append('marker')
    //     .attr({'id':'arrowhead',
    //     'viewBox':'-0 -5 10 10',
    //     'refX':15,
    //     'refY':0,
    //     //'markerUnits':'strokeWidth',
    //     'orient':'auto',
    //     'markerWidth':10,
    //     'markerHeight':10,
    //     'xoverflow':'visible'})
    //     .append('svg:path')
    //     .attr('d', 'M 0,-5 L 10 ,0 L 0,5')
    //     .attr('fill', '#ccc')
    //     .attr('stroke','#ccc');
}
</script>

{% endblock %}
