{% extends "annotations/base.html" %}
{% load staticfiles %}
{% load app_filters %}


{% block main %}

<script src="{% static "annotations/js/spin.min.js" %}"></script>
<script src="{% static "annotations/js/jquery.spin.js" %}"></script>
<script src="{% static "annotations/js/cytoscape.min.js" %}"></script>



<style>
#text-list-container {
    max-height: 300px;
    overflow-y: scroll;
}
</style>
<script>
var networkEndpoint = '{% url "network-data" %}',
    networkContainerSelector = '#networkVis';
</script>

<div class="container-fluid">
    <div class="row" style="margin-top: 15px;">
        <div class="col-md-8">
            <div class="panel" id="networkVis" style="height: 400px;"></div>
            <div class="alert alert-info">
                Use your mouse scrollwheel our trackpad to zoom in and out.
                Click and drag to pan.
            </div>
        </div>
        <div class="col-md-4">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                              <div class="panel panel-default">
                                <div class="panel-heading" role="tab">
                                    <a class="h4 accordion-toggle collapsed"
                                        data-toggle="collapse"
                                        data-parent="#accordion"
                                        href="#filter-form-panel">
                                        Show filters
                                    </a>
                                </div>
                                <div id="filter-form-panel"
                                    class="panel-collapse collapse"
                                    role="tabpanel">
                                    <div class="panel-body">
                                        <form class="form" id="filter-form" method="GET" action=".">
                                            {% csrf_token %}

                                            {% for field in form %}
                                            <div class="form-group">
                                                {{ field.label }}
                                                {{ field }}
                                            </div>
                                            {% endfor %}
                                            <input class="btn btn-submit" type="submit" value="Filter" />
                                            <a href="{% url "network" %}"><span class="btn btn-reset">Reset</span></a>
                                        </form>
                                        <script>
                                        $(function() {
                                            $( ".datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
                                            $(".ymultiselect").multiselect({
                                                buttonContainer: '<div class="btn-group" />',
                                                buttonWidth: '100%',
                                                enableFiltering: true,
                                                enableCaseInsensitiveFiltering: true,
                                                includeSelectAllOption: true,
                                            });
                                          });
                                        </script>
                                    </div>
                                </div>
                                </div>


                              </div>

                              <div class="panel-body">
                                  {% with form|current_fields as current %}
                                  {% if current|length > 0 %}
                                  <div class="h5">Currently filtering by:</div>
                                  <ul class="list-group text-small">
                                  {% for label, value in current %}
                                      <li class="list-group-item"><strong>{{ label }}:</strong> <span class="text-muted">{{ value }}</span></li>
                                  {% endfor %}

                                  </ul>
                                  {% else %}
                                  <div class="text-small text-muted">No active filters</div>
                                  {% endif %}
                                  {% endwith %}
                              </div>

                            </div>


                        <div class="panel selection-details-panel" style="display: none;">
                            <div class="panel-body" id="concept-details">
                                <div><a id="concept-href"><span id="concept-label" class="text-primary h4"></span></a></div>
                                <div id="concept-uri" class="text text-muted text-tiny"></div>
                                <div id="concept-description" class="text text-small"></div>
                                <div id="concept-occurrence" class="text text-small"></div>
                            </div>

                            <div class="text text-warning text-tiny"><span id="concept-text-list-title"></span></div>
                            <div id="text-list-container">
                                <table class="table table-responsive table-hover">
                                    <tbody id="text-list"></tbody>
                                </table>
                            </div>

                        </div>
                        <div class="alert alert-info">Select a node or edge for more information</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<script src="{% static "annotations/js/network_cytoscape.js" %}"></script>

{% endblock %}
