{% extends "annotations/base.html" %}
{% load staticfiles %}

{% block extrahead %}
<script src="{% static "annotations/js/spin.min.js" %}"></script>
<script src="{% static "annotations/js/jquery.spin.js" %}"></script>
<script src="{% static "annotations/js/cytoscape.min.js" %}"></script>
{% endblock %}

{% block breadcrumbs %}
<a href="{% url "home" %}" class="btn btn-xs">Home</a>&raquo;<a href="{% url "list_projects" %}" class="btn btn-xs">Projects</a>
{% endblock %}

{% block main %}
<div class="container-fluid">
    {% block titleblock %}
    <div class="h2">
        Projects
        <a class="pull-right btn btn-md"
            href="{% url "create_project" %}">
            <span class="gylphicon glyphicon-plus"></span> Create Project
        </a>
    </div>
    {% endblock %}

    <div class="list-group">
        {% for project in projects %}
        <a class="list-group-item"
            href="{% url "view_project" project.id %}">
            <span class="h4">{{ project.name }}</span>
            <span class="text text-muted">{{ project.description }}</span>
            <div class="text-warning">
                Created by <strong>{{ project.ownedBy__username }}</strong> on {{ project.created }}
            </div>
            <div>
                {{ project.num_texts }} texts, {{ project.num_relations }} relations.
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
