{% extends "annotations/project_list.html" %}
{% load staticfiles %}

{% block breadcrumbs %}
<a href="{% url "home" %}" class="btn btn-xs">Home</a>&raquo;<a href="{% url "list_projects" %}" class="btn btn-xs">Projects</a>&raquo;<a href="{% url "user_projects" %}" class="btn btn-xs">My Projects</a>
{% endblock %}

{% block titleblock %}
<div class="h2">
    My Projects
    <a class="pull-right btn btn-md"
        href="{% url "create_project" %}">
        <span class="gylphicon glyphicon-plus"></span> Create Project
    </a>
</div>
{% endblock %}
