{% extends "annotations/base.html" %}
{% load staticfiles %}

{% block extrahead %}
<script src="{% static "annotations/js/spin.min.js" %}"></script>
<script src="{% static "annotations/js/jquery.spin.js" %}"></script>
<script src="{% static "annotations/js/cytoscape.min.js" %}"></script>
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="h4 text-muted">Project Details</div>
    {% block titleblock %}
    <div style="margin-bottom: 15px;">
        <div class="h2">
            {{ project.name }}
            {% if user.id == project.ownedBy.id %}
            <span class="btn-group pull-right">
                <a class="btn btn-sm btn-success"
                    href="{% url "repository_list" %}?project_id={{ project.id }}">
                    <span class="gylphicon glyphicon-plus"></span> Add Text
                </a>
                <a class="btn btn-sm btn-primary"
                    href="{% url "edit_project" project.id %}">
                    <span class="gylphicon glyphicon-pencil"></span> Edit Project
                </a>
            </span>
            {% endif %}
        </div>
        <div class="text text-muted">{{ project.description }}</div>
        <div class="text-warning">
            Created by <a href="{% url "user_details" project.ownedBy.id %}">{{ project.ownedBy.username }}</a> on {{ project.created }}
        </div>
        <div>
            {{ project.num_texts }} texts, {{ project.num_relations }} relations.
        </div>
    </div>
    {% endblock %}

    {% if texts|length > 0 %}
    <table class="table table-hover table-responsive table-condensed">
        <thead>
            <th class="col-xs-9">
                <a class="h4" style="text-decoration: none; vertical-align: middle;" href="{% if order_by == '-title' %}?order_by=title{% else %}?order_by=-title{% endif %}" id="order_title">Title</a>
                <a class="btn btn-sm btn-default" aria-label="Left Align" href="{% if order_by == '-title' %}?order_by=title{% else %}?order_by=-title{% endif %}">
                    <span class="glyphicon glyphicon-sort-by-alphabet{% if order_by != '-title' %}-alt{% endif %}" aria-hidden="true"></span>
                </a>
            </th>
            <th>
                <a class="h4" style="text-decoration: none; vertical-align: middle;" href="{% if order_by == '-added' %}?order_by=added{% else %}?order_by=-added{% endif %}" id="order_publication">Added</a>
                <a class="btn btn-sm btn-default" aria-label="Left Align" href="{% if order_by == '-added' %}?order_by=added{% else %}?order_by=-added{% endif %}">
                    <span class="glyphicon glyphicon-sort-by-order{% if order_by != '-added' %}-alt{% endif %}" aria-hidden="true"></span>
                </a>
            </th>
        </thead>
        {% for text in texts %}
        <tbody>
            <tr>
                <td><a href="{% url "repository_text" text.repository_id text.repository_source_id %}?project_id={{ project.id }}">{{ text.title }}</a></td>
                <td>{{ text.added }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>

    <div>
        <ul class="pagination pagination-sm">
            {% if texts.has_previous %}
            <li>
                <a href="?{% if query %}q={{ query }}&amp;{% endif %}page={{ texts.previous_page_number }}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            {% for p in texts.paginator.page_range %}
            <li{% if p == texts.number %} class="active"{% endif %}>
                <a href="?{% if query %}q={{ query }}&amp;{% endif %}page={{p}}{% if order_by %}&order_by={{ order_by }}{% endif %}">{{p}}</a>
            </li>
            {% endfor %}
            {% if texts.has_next %}
            <li>
                <a href="?{% if query %}q={{ query }}&amp;{% endif %}page={{ texts.next_page_number }}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
    {% else %}
    <p class="h4 text-center">
        This project has no texts. {% if user.id == project.ownedBy.id %}Perhaps you should add one?{% endif %}
    </p>
    {% endif %}

    {% if relations and relations.count > 0 %}
    <div class="h3">Recent Annotations
        <a class="btn btn-sm" href="{% url "relations" %}?project={{ project.id }}">See all</a>
    </div>
    {% include "annotations/relations_list_fragment.html" %}
    {% endif %}
</div>

{% endblock %}
