{% extends "annotations/base.html" %}
{% load app_filters %}



{% block main %}
    <div id="main" class="container-fluid">
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-sm-10 col-sm-offset-1">
                {% block title %}
                    <div>
                        <h1 align="center">Recent Activity</h1>

                    </div>

                {% endblock %}
            </div>
        </div>
        <div class="row">
             <div class="col-md-4 col-sm-offset-3">
                <h2>Recent Texts </h2>
                {% if recent_texts|length > 0 %}
                    <div>
                        <ul class="pagination pagination-sm">

                            {% for item in recent_texts %}
                                <li>User <b>{{ item.addedBy__username }}</b> added
                                    {% if item.created_count == 1 %}<b>{{ item.created_count }}</b> text{% endif %}
                                    {% if item.created_count > 1 %}<b>{{ item.created_count }}</b> texts{% endif %}
                                    <b>{{ item.hour|timesince }}</b> ago
                                </li>
                                <br>
                            {% endfor %}

                        </ul>
                    </div>

                {% else %}
                    <p>No recent texts added</p>
                {% endif %}

            </div>
            <div class="col-md-4">
                <h2>Recent Appellations </h2>
                {% if recent_appellations|length > 0 %}
                    <div>
                        <ul class="pagination pagination-sm">

                            {% for item in recent_appellations %}
                                <li>User <b>{{ item.createdBy__username }}</b> added
                                    {% if item.created_count == 1 %}<b>{{ item.created_count }}</b> appellation{% endif %}
                                    {% if item.created_count > 1 %}<b>{{ item.created_count }}</b> appellations{% endif %}
                                    <b>{{ item.hour|timesince }}</b> ago
                                </li>
                                <br>
                            {% endfor %}

                        </ul>
                    </div>

                {% else %}
                    <p>No recent Appellations added</p>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock main %}
