{% extends "annotations/base.html" %}
{% load app_filters %}



{% block main %}
<div id="main" class="container-fluid">
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-sm-10 col-sm-offset-1">
            {% block title %}
            <div>
                <span class="h2">Recent Activity</span>

            </div>

            {% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            {% if recent_texts|length > 0 %}
                <div>
                <ul class="pagination pagination-sm">
                    <h1>Recent Texts </h1>
                    {% for item in recent_activity%}
                            <li>User {{ item.addedBy__username }} added {% if item.created_count != 0 %}{{item.created_count }} texts{% endif %}
                            {{ item.hour|timesince }}
                            </li>
                           <br>
                    {% endfor %}

                </ul>
            </div>

            {% else %}
            <p>No recent texts added</p>
            {% endif %}

        </div>
     <div class="col-sm-10 col-sm-offset-1">
            {% if recent_appellations|length > 0 %}
                <div>
                <ul class="pagination pagination-sm">
                    <h1>Recent Appellations </h1>
                    {% for item in recent_appellations%}
                            <li>User {{ item.createdBy__username }} added {% if item.created_count != 0 %}{{item.created_count }} appellations{% endif %}
                            {{ item.hour|timesince }}
                            </li>
                           <br>
                    {% endfor %}

                </ul>
            </div>

            {% else %}
            <p>No recent Appellations added</p>
            {% endif %}

        </div>
    </div>
</div>

{% endblock main %}
