{% extends "annotations/base.html" %}


{% block main %}
<style>
.clickable-row {
    cursor: pointer;
}
</style>

<div class="container-fluid" id="main">
    <div class="row">
        <div class="col-sm-12 clearfix">
            <div class="btn-group pull-right">
                <a class="btn btn-md" href="{% url "add_relationtemplate" %}">
                    <span class="glyphicon glyphicon-plus"></span> Add
                </a>
            </div>
            <div class="h2">
                {% if not all_templates %}My {% endif %}Relation Templates {% if all_templates %}<a href="{% url "list_relationtemplate" %}" class="btn"><span class='glyphicon glyphicon-filter'></span> My templates</a>{% else %}<a href="?all=true" class="btn"><span class='glyphicon glyphicon-filter'></span> View all</a>{% endif %}
            </div>
            <p>
                Relation templates provide a mechanism for mapping annotations
                onto complex nested relations (quadruples).
            </p>
            <table class="table table-condensed table-responsive table-hover">
                <thead>
                    <tr>
                        <th class="col-sm-3">Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for template in data.templates %}
                    <tr class='clickable-row' data-href='{% url 'get_relationtemplate' template.id %}'>
                        <td>{{ template.name }}</td>
                        <td>{{ template.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>

<script>
jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
});
</script>
{% endblock %}
