
{% extends "annotations/base.html" %}
{% load staticfiles %}
{% load app_filters %}
{% load addcss %}

{% block breadcrumbs %}
<a href="{% url "home" %}" class="btn btn-xs">Home</a>&raquo;<a href="" class="btn btn-xs">Annotations</a>&raquo;<a href="{% url "relations" %}" class="btn btn-xs">Relations</a>
{% endblock %}

{% block main %}
<div id="main" class="container-fluid">
        {% include "annotations/relations_filter_fragment.html" %}

    <a class="btn btn-md btn-default" href="{% url "relations_graph" %}?{{ params }}"><span class="glyphicon glyphicon-eye-open"></span> Graph</a>
    <div class="row">
        <div class="col-xs-4  clearfix text-center">
            {% if relations.has_previous  %}
            <div class="pull-left">
                <a href="?page={{ relations.previous_page_number }}&{{ params_data }}" class="btn btn-xs">&laquo; Previous</a>
            </div>
            {% endif %}
        </div>
        <div class="col-xs-4  clearfix text-center">

            <span>
                Page {{ relations.number }} of {{ relations.paginator.num_pages }}.
            </span>
        </div>
        <div class="col-xs-4  clearfix text-center">
            {% if relations.has_next %}
            <div class="pull-right">
                <a href="?page={{ relations.next_page_number }}&{{ params_data }}">Next &raquo;</a>
            </div>
            {% endif %}
        </div>
    </div>
    {% include "annotations/relations_list_fragment.html" %}
    <div class="row">
        <div class="col-xs-4  clearfix text-center">

            {% if relations.has_previous  %}
            <div class="pull-left">
                <a href="?page={{ relations.previous_page_number }}&{{ params_data }}" class="btn btn-xs">&laquo; Previous</a>
            </div>
            {% endif %}
        </div>
        <div class="col-xs-4  clearfix text-center">

            <span>
                Page {{ relations.number }} of {{ relations.paginator.num_pages }}.
            </span>
        </div>
        <div class="col-xs-4  clearfix text-center">
            {% if relations.has_next %}
            <div class="pull-right">
                <a href="?page={{ relations.next_page_number }}&{{ params_data }}">Next &raquo;</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
