{% extends "annotations/base.html" %}


{% block main %}
<style>
.clickable-row {
    cursor: pointer;
}
</style>



<div class="container-fluid" id="main">

    <!-- Display error message if there is error in deletion of relation template -->
    {% for message in messages %}
    <div class="alert alert-danger"><h4>{{ message }}</h4></div>
    {% endfor %}

    <div class="row">
        <div class="col-sm-12 clearfix">
            <div class="btn-group pull-right">
                <a class="btn btn-md" href="{% url "add_relationtemplate" %}">
                    <span class="glyphicon glyphicon-plus"></span> Add
                </a>
            </div>
            <div class="h2">
                {% if not all_templates %}My {% endif %}Relation Templates {% if all_templates %}<a href="{% url "list_relationtemplate" %}" class="btn"><span class='glyphicon glyphicon-filter'></span> My templates</a>{% else %}<a href="?all=true" class="btn"><span class='glyphicon glyphicon-filter'></span> View all</a>{% endif %}
            </div>
            <p>
                Relation templates provide a mechanism for mapping annotations
                onto complex nested relations (quadruples).
            </p>
            <table class="table table-condensed table-responsive table-hover">
                <thead>
                    <tr>
                        <th class="col-sm-1"></th>
                        <th class="col-sm-3">Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for template in data.templates %}
                    <tr class='clickable-row' data-href='{% url 'get_relationtemplate' template.id %}'>
                        <td>
                            <a class="fa fa-trash openDeleteTemplateModal"
                               aria-hidden="true"
                               data-toggle="modal"
                               data-delete-template-tooltip="tooltip"
                               title="Delete relation template"
                               data-url="{% url "delete_relationtemplate" template.id %}"
                               data-name = "{{template.name}}"
                               data-description = "{{template.description}}"
                            />
                        </td>
                        <td>{{ template.name }}</td>
                        <td>{{ template.description }}</td>
                    </tr>

                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>

<script>
jQuery(document).ready(function($) {

    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });

    $('[data-delete-template]').tooltip();

    $(".openDeleteTemplateModal").click(function(e) {
        var url = $(this).attr("data-url");
        var name = $(this).attr("data-name");
        var description = $(this).attr("data-description");

        e.stopPropagation();
        $(".modal-body #DeleteTemplateModalName").text(name);
        $(".modal-body #DeleteTemplateModalDescription").text(description);
        $('#DeleteTemplateModalForm').attr('action', url);
        $('#TemplateDeleteModal').modal('show');
    });

});
</script>

<!-- Delete Template modal section starts here -->
<div class="modal fade" id="TemplateDeleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="deleteModalLabel"><strong>Delete Relation Template</strong></h4>
            </div>

            <form id="DeleteTemplateModalForm" action="." method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <h4>
                        Are you sure you want to delete the following relation template: <br><br>
                        <div class="form-group">
                            <strong>Name:</strong><br><label style="font-weight:normal" id="DeleteTemplateModalName"/>
                        </div>
                        <div class="form-group">
                            <strong>Description:</strong><br><label style="font-weight:normal" id="DeleteTemplateModalDescription"/>
                        </div>
                    </h4>
                </div>
                <div class="modal-footer">
                    <input class="btn btn-danger" type="submit" value="Delete">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>

        </div>
    </div>
</div>
<!-- Delete Template modal section ends here -->

{% endblock %}

