{% extends "annotations/base.html" %}
{% load app_filters %}



{% block main %}
<div id="main" class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <ul class="list-group">
                {% for relation in relations %}
                <li class="list-group-item">
                    {{ relation.source.interpretation.label }} ; {{ relation.object.interpretation.label}}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
