{% extends "annotations/base.html" %}
{% load staticfiles %}
{% load app_filters %}



{% block main %}
<script src="{% static "annotations/js/spin.min.js" %}"></script>
<script src="{% static "annotations/js/jquery.spin.js" %}"></script>
<script src="{% static "annotations/js/cytoscape.min.js" %}"></script>


<div id="main" class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="h2">{{ source_concept.label }}
                <small>{{ source_concept.typed }}</small>
            </div>
            <p class="text text-warning text-small">{{ source_concept.uri }}</p>

            <p class="text text-muted">{{ source_concept.description }}</p>
        </div>
        <div class="col-sm-6">
            <div class="h2">{{ target_concept.label }}
                <small>{{ target_concept.typed }}</small>
            </div>
            <p class="text text-warning text-small">{{ target_concept.uri }}</p>

            <p class="text text-muted">{{ target_concept.description }}</p>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    <span class="h4">Relations</span>
                </div>
                <div class="panel-group"
                    id="accordion"
                    role="tablist"
                    aria-multiselectable="true">
                    {% for text in relations %}
                    <div class="panel">
                        <div class="panel-heading" role="tab">
                            <a class="accordion-toggle collapsed"
                                data-toggle="collapse"
                                data-parent="#accordion"
                                href="#{{ text.text_id }}_appellations">
                                {{ text.text_title }}
                            </a>
                        </div>
                        <div id="{{ text.text_id }}_appellations"
                            class="panel-collapse collapse"
                            role="tabpanel">
                            <div class="panel-body">
                                <a class="text-small text-muted"
                                    href="{% url "text" text.text_id %}">
                                    View all annotations in this text.
                                </a>
                            </div>
                            {% for relationset in text.relationsets %}
                            <div class="panel-body">
                                <div class="text-warning">{{relationset.created}} by <a href="{% url "user_details" relationset.annotator.id %}">{{relationset.annotator}}</a></div>
                                <div>{{ relationset.text_snippet | safe}}</div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-8">
                    <div class="panel" id="networkVis" style="height: 300px;"></div>
                    <div class="text-info">
                        Use your mouse scrollwheel our trackpad to zoom in and out.
                        Click and drag to pan.
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel selection-details-panel" style="display: none;">
                        <div class="panel-body" id="concept-details">
                            <div><a id="concept-href"><span id="concept-label" class="text-primary h4"></span></a></div>
                            <div id="concept-uri" class="text text-muted text-tiny"></div>
                            <div id="concept-description" class="text text-small"></div>
                            <div id="concept-occurrence" class="text text-small"></div>
                        </div>
                            <div class="text text-warning text-tiny"><span id="concept-text-list-title"></span></div>
                            <div id="text-list-container">
                                <table class="table table-responsive table-hover">
                                    <tbody id="text-list"></tbody>
                                </table>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
var networkEndpoint = '{% url "network-data" %}',
    networkParams = 'nodes={{ source_concept.id }}&nodes={{ target_concept.id }}',
    networkContainerSelector = '#networkVis';

$("[data-toggle='tooltip']").tooltip();
</script>
<script src="{% static "annotations/js/network_cytoscape.js" %}"></script>

{% endblock %}
