{% extends "annotations/base.html" %}
{% load staticfiles %}

{% block extrahead %}

<script src="{% static "annotations/js/vue.min.js" %}"></script>
<script src="{% static "annotations/js/tiny-cookie.min.js" %}"></script>

<script src="https://cdn.jsdelivr.net/vue.resource/1.2.1/vue-resource.min.js"></script>
<script src="{% static 'annotations/js/cytoscape.min.js' %}"></script>
{% endblock %}

{% block main %}
<script src="https://unpkg.com/tether"></script>
<script src="https://unpkg.com/tether-drop"></script>
<script src="https://unpkg.com/tether-tooltip"></script>
<script src="{% static "annotations/js/v-tooltip.browser.js" %}"></script>


<div class="container-fluid" id="main">
    <div class="row col-sm-12">
        <h2 class="h2">Create a New Relation Template</h2>
        <p class="text-warning">
            The data structures that Vogon produces (known as Quadruples) can
            be extremely complex, containing many levels of nested
            relationships. Relation templates make it possible to create complex
            nested statements with minimal effort during the annotation process.
        </p>
        <p class="text-warning">
            Use the form below to build a template. See the helpful details
            below the form for more information.
        </p>
        <div id="relation-creator">

        </div>
        <p>
            <div class="h4">Node types</div>
            <dl>
                <dt>Open concept</dt>
                <dd>
                    Not the floor plan. This is the most common node type for
                    appellations. The user can select an appellation with any
                    interpretation (concept). You can optionally select a
                    specific concept type; use this as a suggestion for the user
                    as to the kind of concepts that should be used in that part
                    of the relation.
                </dd>
            </dl>
            <dl>
                <dt>Specific concept</dt>
                <dd>
                    In many nested relations it is desireable to specify ahead
                    of time what the a node's interpretation should be. For
                    example, if I am creating a template for a relation that
                    expresses the idea of employment, I might include a node
                    that is explicitly linked to the concept of "employee".
                    <em>When you select this option, start typing in the empty
                        input that appears; this will trigger a concept search,
                        and options should be displayed within a few moments.</em>
                </dd>
            </dl>
            <dl>
                <dt>Relation</dt>
                <dd>
                    Use this node type to indicate that the node in this
                    relation part should be another relation. Enter the relation
                    ID of the target relation.
                </dd>
            </dl>
        </p>

    </div>
</div>


<script>

var RelationTemplateCreator = new Vue({
    el: '#relation-creator',
    data: function() {
        return {}
    }
})
</script>

{% endblock %}
