{% extends "annotations/base.html" %}
{% load staticfiles %}

{% block main %}

<style>
.angucomplete-dropdown {
    overflow-y: auto;
    overflow-x: auto;
    opacity: 1.0;
    position: relative;
    z-index: 15;
    max-width: 400px;
    max-height: 200px;
    background-color: white;
    border: 1px solid gray;
}

.autocomplete-holder {
    max-width: 200px;
}

.type-dependent-container {
    display: none;
}
#form_table label {
    font-size: 0.8em;
}

.list-group-compact {
    font-size: 9pt;
    padding: 5px;
}
</style>
<div class="container-fluid" id="main">
    <div class="row col-sm-12">
        <h2 class="h2">Create a New Relation Template</h2>
        <p class="text-warning">
            The data structures that Vogon produces (known as Quadruples) can
            be extremely complex, containing many levels of nested
            relationships. Relation templates make it possible to create complex
            nested statements with minimal effort during the annotation process.
        </p>
        <p class="text-warning">
            Use the form below to build a template. See the helpful details
            below the form for more information.
        </p>
        <div><!-- ng-app='formApp' -->
            <div><!-- ng-controller="TemplateFormController"> -->
                <form method="post" class="form" action="">
                    {% csrf_token %}
                    {{ formset.management_form }}
                    {% if templateform.non_field_errors %}
                    <p>
                        {% for error in templateform.non_field_errors %}
                        <div class="alert alert-warning">{{ error }}</div>
                        {% endfor %}
                    </p>
                    {% endif %}
                    <p>
                        {% if templateform.name.errors %}
                            {% for error in templateform.name.errors %}
                            <div class="alert alert-warning">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                        {{ templateform.name }}
                    </p>
                    <p>
                        {% if templateform.description.errors %}
                            {% for error in templateform.description.errors %}
                            <div class="alert alert-warning">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                        {{ templateform.description }}
                    </p>
                    <p>
                        {% if templateform.expression.errors %}
                            {% for error in templateform.expression.errors %}
                            <div class="alert alert-warning">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                        {{ templateform.expression }}
                    </p>
                    <p>
                        {% if templateform.terminal_nodes.errors %}
                            {% for error in templateform.terminal_nodes.errors %}
                            <div class="alert alert-warning">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                        {{ templateform.terminal_nodes }}
                    </p>
                    <table id="form_table" class="table table-condensed table-striped table-bordered table-responsive">
                        <thead>
                            <tr class="text-center info">
                                <td>Relation ID</td>
                                <td>Source</td>
                                <td>Predicate</td>
                                <td>Object</td>
                            </tr>
                        </thead>
                        {% for form in formset %}
                        <tr class="form_table_row" id="{{form.ident}}">
                            {% if form.non_field_errors %}
                            <tr>
                                <td colspan="4">
                                    {% for error in form.non_field_errors %}
                                    <div class="alert alert-warning">{{ error }}</div>
                                    {% endfor %}
                                </td>
                            </tr>
                            {% endif %}
                            <td class="text-center" style="vertical-align: middle;">
                                <span class="badge" id="form_ident">{{ form.ident }}</span>
                                {{ form.internal_id }}
                            </td>
                            <td>
                                <ul class="list-group">
                                    <div id="{{ form.prefix }}-source_node_type_container">
                                        {% if form.source_node_type.errors %}
                                            {% for error in form.source_node_type.errors %}
                                                <div class="alert alert-warning">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                        {{ form.source_node_type }}
                                    </div>
                                    <div class="type-dependent-container" id="{{ form.prefix }}-source_type_container">
                                        {% if form.source_type.errors %}
                                            {% for error in form.source_type.errors %}
                                                <div class="alert alert-warning">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                        {{ form.source_type }}
                                    </div>
                                    <div class="type-dependent-container" id="{{ form.prefix }}-source_concept_text_container">
                                        {% if form.source_concept_text.errors %}
                                            {% for error in form.source_concept_text.errors %}
                                                <div class="alert alert-warning">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                        <div class="input-group">
                                            {{ form.source_concept_text }}
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-search" id="id_{{ form.prefix }}-source_concept_status_elem"></span>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="type-dependent-container list-group list-group-compact" id="id_{{ form.prefix }}-source_concept_results_elem"></div>
                                    <div class="type-dependent-container" id="{{ form.prefix }}-source_relationtemplate_internal_id_container">
                                        {% if form.source_concept_text.errors %}
                                            {% for error in form.source_relationtemplate_internal_id.errors %}
                                                <div class="alert alert-warning">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                        {{ form.source_relationtemplate_internal_id }}
                                    </div>


                                    {{ form.source_concept }}
                                    {{ form.source_concept_description }}
                                    {{ form.source_relationtemplate }}

                                    <div class="type-dependent-container" id="{{ form.prefix }}-source_label_container">
                                        <label>Label</label>
                                        {% if form.source_label.errors %}
                                            {% for error in form.source_label.errors %}
                                                <div class="alert alert-warning">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                        {{ form.source_label }}
                                    </div>
                                    <div class="type-dependent-container" id="{{ form.prefix }}-source_description_container">
                                        <label>Description</label>
                                        {% if form.source_description.errors %}
                                            {% for error in form.source_description.errors %}
                                                <div class="alert alert-warning">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                        {{ form.source_description }}
                                    </div>
                                    <div class="type-dependent-container" id="{{ form.prefix }}-source_prompt_text_container">
                                        {% if form.source_prompt_text.errors %}
                                            {% for error in form.source_prompt_text.errors %}
                                                <div class="alert alert-warning">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                        <label>{{ form.source_prompt_text }} Prompt for evidence</label>
                                    </div>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-group">
                                    <div class="" id="{{ form.prefix }}-predicate_node_type_container">
                                        {% if form.predicate_node_type.errors %}
                                            {% for error in form.predicate_node_type.errors %}
                                                <div class="alert alert-warning">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                        {{ form.predicate_node_type }}
                                    </div>
                                    <div class="type-dependent-container" id="{{ form.prefix }}-predicate_type_container">
                                        {% if form.predicate_type.errors %}
                                            {% for error in form.predicate_type.errors %}
                                                <div class="alert alert-warning">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                        {{ form.predicate_type }}
                                    </div>
                                    <div class="type-dependent-container" id="{{ form.prefix }}-predicate_concept_text_container">
                                        {% if form.predicate_concept_text.errors %}
                                            {% for error in form.predicate_concept_text.errors %}
                                                <div class="alert alert-warning">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                        <div class="input-group">
                                            {{ form.predicate_concept_text }}
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-search" id="id_{{ form.prefix }}-predicate_concept_status_elem"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="type-dependent-container list-group list-group-compact" id="id_{{ form.prefix }}-predicate_concept_results_elem"></div>
                                    <div class="type-dependent-container" id="{{ form.prefix }}-predicate_relationtemplate_internal_id_container">
                                        {% if form.predicate_concept_text.errors %}
                                            {% for error in form.predicate_relationtemplate_internal_id.errors %}
                                                <div class="alert alert-warning">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                        {{ form.predicate_relationtemplate_internal_id }}
                                    </div>


                                    {{ form.predicate_concept }}
                                    {{ form.predicate_concept_description }}

                                    <div class="type-dependent-container" id="{{ form.prefix }}-predicate_label_container">
                                        <label>Label</label>
                                        {% if form.predicate_label.errors %}
                                            {% for error in form.predicate_label.errors %}
                                                <div class="alert alert-warning">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                        {{ form.predicate_label }}
                                    </div>
                                    <div class="type-dependent-container" id="{{ form.prefix }}-predicate_description_container">
                                        <label>Description</label>
                                        {% if form.predicate_description.errors %}
                                            {% for error in form.predicate_description.errors %}
                                                <div class="alert alert-warning">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                        {{ form.predicate_description }}
                                    </div>
                                    <div class="type-dependent-container" id="{{ form.prefix }}-predicate_prompt_text_container">
                                        {% if form.predicate_prompt_text.errors %}
                                            {% for error in form.predicate_prompt_text.errors %}
                                                <div class="alert alert-warning">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                        {{ form.predicate_prompt_text }} Prompt for evidence
                                    </div>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-group">
                                    <div class="" id="{{ form.prefix }}-object_node_type_container">
                                        {% if form.object_node_type.errors %}
                                            {% for error in form.object_node_type.errors %}
                                                <div class="alert alert-warning">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                        {{ form.object_node_type }}
                                    </div>
                                    <div class="type-dependent-container" id="{{ form.prefix }}-object_type_container">
                                        {% if form.object_type.errors %}
                                            {% for error in form.object_type.errors %}
                                                <div class="alert alert-warning">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                        {{ form.object_type }}
                                    </div>
                                    <div class="type-dependent-container" id="{{ form.prefix }}-object_concept_text_container">
                                        {% if form.object_concept_text.errors %}
                                            {% for error in form.object_concept_text.errors %}
                                                <div class="alert alert-warning">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                        <div class="input-group">
                                            {{ form.object_concept_text }}
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-search" id="id_{{ form.prefix }}-object_concept_status_elem"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="type-dependent-container list-group list-group-compact" id="id_{{ form.prefix }}-object_concept_results_elem"></div>
                                    <div class="type-dependent-container" id="{{ form.prefix }}-object_relationtemplate_internal_id_container">
                                        {% if form.object_concept_text.errors %}
                                            {% for error in form.object_relationtemplate_internal_id.errors %}
                                                <div class="alert alert-warning">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                        {{ form.object_relationtemplate_internal_id }}
                                    </div>


                                    {{ form.object_concept }}
                                    {{ form.object_concept_description }}
                                    {{ form.object_relationtemplate }}

                                    <div class="type-dependent-container" id="{{ form.prefix }}-object_label_container">
                                        <label>Label</label>
                                        {% if form.object_label.errors %}
                                            {% for error in form.object_label.errors %}
                                                <div class="alert alert-warning">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                        {{ form.object_label }}
                                    </div>
                                    <div class="type-dependent-container" id="{{ form.prefix }}-object_description_container">
                                        <label>Description</label>
                                        {% if form.object_description.errors %}
                                            {% for error in form.object_description.errors %}
                                                <div class="alert alert-warning">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                        {{ form.object_description }}
                                    </div>
                                    <div class="type-dependent-container" id="{{ form.prefix }}-object_prompt_text_container">
                                        {% if form.object_prompt_text.errors %}
                                            {% for error in form.object_prompt_text.errors %}
                                                <div class="alert alert-warning">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                        {{ form.object_prompt_text }} Prompt for evidence
                                    </div>
                                </ul>
                            </td>
                        </tr>
                        {{ form.media }}
                        {% endfor %}
                        <tr id="add_form_row">
                            <td colspan="4" class="text-center">
                                <button type="button" class="btn btn-primary" aria-label="Add Relation" id="add-relation-button">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                    </table>
                    <button class="btn btn-primary pull-right" type="submit" value="Submit">Create</button>
                </form>
            </div>
        </div>
        <p>
            <div class="h4">Node types</div>
            <dl>
                <dt>Open concept</dt>
                <dd>
                    Not the floor plan. This is the most common node type for
                    appellations. The user can select an appellation with any
                    interpretation (concept). You can optionally select a
                    specific concept type; use this as a suggestion for the user
                    as to the kind of concepts that should be used in that part
                    of the relation.
                </dd>
            </dl>
            <dl>
                <dt>Specific concept</dt>
                <dd>
                    In many nested relations it is desireable to specify ahead
                    of time what the a node's interpretation should be. For
                    example, if I am creating a template for a relation that
                    expresses the idea of employment, I might include a node
                    that is explicitly linked to the concept of "employee".
                    <em>When you select this option, start typing in the empty
                        input that appears; this will trigger a concept search,
                        and options should be displayed within a few moments.</em>
                </dd>
            </dl>
            <dl>
                <dt>Relation</dt>
                <dd>
                    Use this node type to indicate that the node in this
                    relation part should be another relation. Enter the relation
                    ID of the target relation.
                </dd>
            </dl>
        </p>

    </div>
</div>



<script src="{% static "annotations/js/relations/create.js" %}"></script>

{% endblock %}
