{% extends "annotations/base.html" %}
{% load app_filters %}
{% load addcss %}
{% load staticfiles %}
{% block main %}

<script src="{% static "annotations/js/bootstrap-datepicker.min.js" %}"></script>
<div class="container">
    <div class="h3">Repositories</div>
    {% for repository in repositories %}
    <a class="list-group-item clearfix" href="{% url "repository_details" repository.id %}">
        <div class="h4">{{ repository.name }}</div>
        <div class="text-muted text-small">{{ repository.description }}</div>
    </a>
    {% endfor %}
</div>
{% endblock %}
