{% extends "annotations/base.html" %}
{% load app_filters %}
{% load addcss %}
{% load staticfiles %}
{% block main %}

<div class="container">
    <div class="h3">{{ result.title }} <span class="small">in repository <strong>{{repository.name}}</strong></span></div>

    <dl class="dl-horizontal">
    {% for name, fieldvalue in result.iteritems %}
    {% if name != 'title' %}
    {{ fieldvalue.render }}
    {% endif %}
    {% endfor %}
    </dl>

    {% if result.content %}
    <p class="text-info">
        The following content objects are associated with this resource. Select a content object to
        begin annotating that object in VogonWeb.
    </p>
    {% if serial_content %}
    <div class="h4">Serial Content</div>
    <p>
        The following content are serialized parts of this resource, such as individuated pages.
        Multiple content types may be available.
    </p>
    <div class="list-group">
    {% for obj in serial_content %}
        <div class="list-group-item">
            {{ obj.content_type }}
            <div class="btn-group pull-right">
                <a class="btn btn-xs btn-success" href="{% url "repository_text_content" repository.id obj.source_id obj.content_id %}?part_of={{ result.id }}{% if project_id %}&project_id={{ project_id }}{% endif %}">
                    <span class="glyphicon glyphicon-tag"></span> Annotate
                </a>
                {% if project_id %}
                <a class="btn btn-xs btn-primary" href="{% url "repository_text_content" repository.id obj.source_id obj.content_id %}?part_of={{ result.id }}&action=addtoproject&project_id={{ project_id }}">
                    <span class="glyphicon glyphicon-plus"></span> Add to {{ project.name }}
                </a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
    {% endif %}

    <div class="h4">Additional Content</div>
    <p>
        The following content represent the resource as a whole. This may include complex objects
        like PDF documents, whole-text OCR documents, or other files.
    </p>
    <div class="list-group">
        {% for content_object in result.content %}
        <div class="list-group-item">
            <div>{{ content_object.name }}
                <div class="btn-group pull-right">
                    <a class="btn btn-xs btn-success" href="{% url "repository_text_content" repository.id result.id content_object.id %}{% if project_id %}?project_id={{ project_id }}{% endif %}">
                        <span class="glyphicon glyphicon-tag"></span> Annotate
                    </a>
                    {% if project_id %}
                    <a class="btn btn-xs btn-primary" href="{% url "repository_text_content" repository.id result.id content_object.id %}?action=addtoproject&project_id={{ project_id }}">
                        <span class="glyphicon glyphicon-plus"></span> Add to {{ project.name }}
                    </a>
                    {% endif %}
                </div>
            </div>
            <dl class="dl-horizontal">
                <dt>Content type</dt>
                <dd>{{ content_object.content_type }}
            {% for name, fieldvalue in content_object.data.iteritems %}
            {% if name != 'name' %}
            {{ fieldvalue.render }}
            {% endif %}
            {% endfor %}

        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>This resource has no associated content.</p>
    {% endif %}

</div>
{% endblock %}
