{% extends "annotations/base.html" %}
{% load app_filters %}
{% load addcss %}
{% load staticfiles %}
{% block main %}

<script src="{% static "annotations/js/bootstrap-datepicker.min.js" %}"></script>
<div class="container">
    <a href="{% url "repository_collections" repository.id %}" class="text-small btn" style="margin-top: 10px;">&#9664; Back to collections</a>
    <div class="h3">Browse collection {{ collection.name }} in repository <strong>{{ repository.name }}</strong></div>

    <div class="list-group">
        {% for result in collection  %}
        <a class="list-group-item">
            <div class="h5">{{ result.title.render_value }}</div>
            <dl class="dl-horizontal">
            {% for name, fieldvalue in result.iteritems %}
            {% if name != 'title' %}
            {{ fieldvalue.render }}
            {% endif %}
            {% endfor %}
            </dl>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
