{% extends "annotations/base.html" %}
{% load app_filters %}
{% load addcss %}
{% load staticfiles %}
{% block main %}

<div class="container">
    <a href="{% url "repository_text" repository.id result.id.value %}" class="text-small btn" style="margin-top: 10px;">&#9664; Back to text details</a>
    <div class="h3">Resource: {{ result.data.title.render_value }}
        <span class="small">in repository <strong>{{repository.name}}</strong></span>
    </div>

    <p class="text-danger">
        Whoops! Unfortunately, VogonWeb doesn't support annotation for objects of type <strong>{{ content_type.value }}</strong>.
    </p>
</div>
{% endblock %}
