{% extends "annotations/base.html" %}
{% load app_filters %}
{% load addcss %}
{% load staticfiles %}

{% block breadcrumbs %}
<a href="{% url "home" %}" class="btn btn-xs">Home</a>&raquo;<a href="{% url "repository_list" %}{% if project_id %}?project_id={{ project_id }}{% endif %}" class="btn btn-xs">Repositories</a>&raquo;<a href="{% url "repository_details" repository.id %}{% if project_id %}?project_id={{ project_id }}{% endif %}" class="btn btn-xs">{{ repository.name }}</a>&raquo;<a href="{% url "repository_collections" repository.id %}{% if project_id %}?project_id={{ project_id }}{% endif %}" class="btn btn-xs">Collections</a>&raquo;<a href="{% url "repository_collection" repository.id collection.id %}" class="btn btn-xs">{{ collection.name }}</a>
{% endblock %}

{% block main %}

<script src="{% static "annotations/js/bootstrap-datepicker.min.js" %}"></script>
<div class="container-fluid">
    <div class="h3">Browsing collection {{ collection.name }} in repository <strong>{{ repository.name }}</strong></div>
    <div class="list-group">
        {% for subcollection in subcollections  %}
        <a href="{% url "repository_collection" repository.id subcollection.id %}{% if project_id %}?project_id={{ project_id }}{% endif %}" class="list-group-item clearfix">
            <span class="label label-primary pull-right">{{ subcollection.size }}</span>
            {{ subcollection.name }}
            <div class="text-warning">
                {{ subcollection.description }}
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-xs-12 clearfix">
        {% if previous_page %}
        <a href="{{ previous_page }}" class="btn btn-xs">&laquo; Previous</a>
        {% endif %}

        {% if next_page %}
        <div class="pull-right btn-group">
            <a href="{{ next_page }}" class="btn btn-xs">Next &raquo;</a>
        </div>
        {% endif %}
        </div>
    </div>
    <div class="list-group">
        {% for result in resources  %}
        <a class="list-group-item clearfix"
            href="{% url "repository_text" repository.id result.id %}{% if project_id %}?project_id={{ project_id }}{% endif %}">
            <span class="text-warning pull-right">
            {% for ctype in result.content_types %}<span style="margin-right: 15px;">{{ ctype}}</span>{% endfor %}
            </span>
            <strong>{{ result.title }}</strong>
            <div class="text-muted">{{ result.uri }}</div>
        </a>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-xs-12 clearfix">
        {% if previous_page %}
        <a href="{{ previous_page }}" class="btn btn-xs">&laquo; Previous</a>
        {% endif %}

        {% if next_page %}
        <div class="pull-right btn-group">
            <a href="{{ next_page }}" class="btn btn-xs">Next &raquo;</a>
        </div>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
