{% load staticfiles %}
<script src="{% static "annotations/js/jquery-1.12.4.js" %}"></script>
<script src="{% static "annotations/js/jquery-ui.min.js" %}"></script>

<script src="{% static "annotations/js/bootstrap.min.js" %}"></script>
<script src="{% static "annotations/js/d3.min.js" %}"></script>
<script src="{% static "annotations/js/URI.js" %}"></script>




<script>
var GetURLParameters = function(){
    var params = {};
    var sPageURL = window.location.search.substring(1);
    var sURLVariables = sPageURL.split('&');
    for (var i = 0; i < sURLVariables.length; i++) {
        var sParameterName = sURLVariables[i].split('=');
        params[sParameterName[0]] = sParameterName[1];

    }
    return params;
}
</script>
