{% extends "annotations/base.html" %}
{% load staticfiles %}
{% url "sign_s3" %}

{% block breadcrumbs %}
<a href="{% url "home" %}" class="btn btn-xs">Home</a>&raquo;<a href="{% url "users" %}" class="btn btn-xs">Contributors</a>&raquo;<a href="{% url "settings" %}" class="btn btn-xs">Settings</a>
{% endblock %}

{% block main %}

<div class="container-fluid">
     <div class="h2">Update your profile</div>

    <form  action="#" method="post" enctype='multipart/form-data'>
       {% csrf_token %}
       {{ form.errors }}
       {{ form.non_field_errors }}
       <div class="form-group">
          <label for="fullname">Full Name</label>
          <input type="text" class="form-control" id="id_fullname" name="full_name" {% if full_name %}value="{{ full_name }}"{% endif %}">
       </div>
       <div class="form-group">
          <label for="email">Email Address</label>
          <input type="email" class="form-control" id="id_email" name="email" value="{{ email }}">
       </div>
       <div class="form-group">
          <label for="affiliation">Affiliation</label>
          <input type="text" class="form-control" id="id_affiliation" name="affiliation" {% if affiliation %}value="{{ affiliation }}"{% endif %}>
       </div>
       <div class="form-group">
          <label for="location">Location</label>
          <input type="text" class="form-control" id="id_location" name="location" {% if location %}value="{{ location }}"{% endif %}">
       </div>
       <div class="form-group">
          <label for="link">Link</label>
          <input type="text" class="form-control" id="id_link" name="link" {% if link %}value="{{ link }}"{% endif %}>
       </div>

       <input type="hidden" id="defaultImage" name="imagefile" value="{{ preview }}"/>

       <span class="pull-left">
       <input type="submit" class="btn btn-primary" value="Submit" />
       </span>
    </form>
    <br><br><br>
    <div class="form-group">
       <div class="panel-footer clearfix">
         <div id = "myAlertUpload" class = "alert alert-warning collapse">
             <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
             <strong>Error!</strong> Could not upload file.
          </div>
          <div id = "myAlertSignedURL" class = "alert alert-warning collapse">
             <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
             <strong>Error!</strong> Could not get signed URL.
          </div>

          <label for="imagefile">Please upload an image</label>
          <input type="file" id="file_input" class="uploadBtn"/>
          <p id="status">Please select a file</p>
           <div id="spinnerContainer" class="spinner">
          <img id="preview" class="img img-responsive img-thumbnail" src="{{ preview }}"/>
          </div>

       </div>
    </div>

</div>
<script src="{% static "annotations/js/spin.min.js" %}"></script>
<script src="{% static "annotations/js/jquery.spin.js" %}"></script>
<script type="text/javascript" >

var opts = {
          lines: 13 // The number of lines to draw
        , length: 21 // The length of each line
        , width: 14 // The line thickness
        , radius: 42 // The radius of the inner circle
        , scale: 1 // Scales overall size of the spinner
        , corners: 1 // Corner roundness (0..1)
        , color: '#297CA6' // #rgb or #rrggbb or array of colors
        , opacity: 0.25 // Opacity of the lines
        , rotate: 0 // The rotation offset
        , direction: 1 // 1: clockwise, -1: counterclockwise
        , speed: 1 // Rounds per second
        , trail: 62 // Afterglow percentage
        , fps: 20 // Frames per second when using setTimeout() as a fallback for CSS
        , zIndex: 2e9 // The z-index (defaults to 2000000000)
        , className: 'spinner' // The CSS class to assign to the spinner
        , top: '75%' // Top position relative to parent
        , left: '20%' // Left position relative to parent
        , shadow: false // Whether to render a shadow
        , hwaccel: false // Whether to use hardware acceleration
        , position: 'absolute' // Element positioning
      };




   /*
      Function called when file input updated. If there is a file selected, then
      start upload procedure by asking for a signed request from the app.
   */
   function init_upload(){
       $('#spinnerContainer').spin(opts);
       var files = document.getElementById("file_input").files;
       var file = files[0];
       get_signed_request(file);
   }


   /*
      Bind listeners when the page loads.
   */
   (function() {
       document.getElementById("file_input").onchange = init_upload;
   })();


   /*
       Function to get the temporary signed request from the Python app.
       If request successful, continue to upload the file using this signed
       request.
   */
   function get_signed_request(file){
       var xhr = new XMLHttpRequest();
       xhr.open("GET", "/sign_s3?file_name="+file.name+"&file_type="+file.type);
       xhr.onreadystatechange = function(){
           if(xhr.readyState === 4){
               if(xhr.status === 200){
                   var response = JSON.parse(xhr.responseText);
                   upload_file(file, response.signed_request, response.url);
               }
               else{
                   $(function(){

                          $("#myAlertSignedURL").show();

                    });
               }
           }
       };
       xhr.send();
   }


   /*
       Function to carry out the actual PUT request to S3 using the signed request from the Python app.
   */
   function upload_file(file, signed_request, url){
       var xhr = new XMLHttpRequest();
       xhr.open("PUT", signed_request);
       xhr.setRequestHeader('x-amz-acl', 'public-read');
       xhr.onload = function() {
           if (xhr.status === 200) {
               document.getElementById("preview").src = url;
               document.getElementById("defaultImage").value = url;
           }
       };
       xhr.onerror = function() {
           $(function(){

                          $("#myAlertUpload").show();

                    });
       };

       xhr.send(file);
        $('#spinnerContainer').spin(false);
   }


</script>
{% endblock main %}
