{% load staticfiles %}
<link rel="stylesheet" href="{% static "annotations/bower_components/bootstrap/dist/css/bootstrap.min.css" %}" />
<link rel="stylesheet" href="{% static "annotations/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" %}" />
<link rel="stylesheet" href="{% static "annotations/bower_components/bootstrap/dist/css/round-about.css" %}" />
<link rel="stylesheet" href="{% static "annotations/css/main.css" %}" />
<link rel="stylesheet" href="{% static "annotations/css/font-awesome.min.css" %}" />
<link rel="stylesheet" href="{% static "annotations/css/isteven-multi-select.css" %}" />
<link rel="stylesheet" href="{% static "annotations/css/forbidden_error_page.css" %}" />
<link rel="stylesheet" href="{% static "annotations/css/jquery-ui.min.css" %}">
<link rel="stylesheet" href="{% static "annotations/css/bootstrap-multiselect.css" %}" />
