{% load staticfiles %}
{% load app_filters %}

<html ng-app="annotationApp">
    <head>
        <script type="text/javascript" src="https://diging.atlassian.net/s/feb56a6b15dfe1c4dce860c5ec0d0c12-T/en_USugtsph-ren-off/70107/dd3ed69607618acd4f2d9e33519d4b21/2.0.7/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=da09a5cd"></script>
        <script>
        function stripTrailingSlash(str) {
            if(str.substr(-1) === '/') {
                return str.substr(0, str.length - 1);
            }
            return str;
        }
        var BASELOCATION = stripTrailingSlash("{{baselocation}}");

        </script>

        {% include "annotations/stylesheets.html" %}
        {% include "annotations/angular.html" %}
        {% include "annotations/scripts.html" %}


        <script>
        var TEXTID = {{ textid }},
            USERID = {{ userid }};
        </script>

        {% include "annotations/textApp.html" %}
        <style>
        .relationtemplate-field-search {
            max-height: 200px;
            overflow-y: scroll;
        }
        .relationtemplate-field-search > .list-group-item {
            cursor: pointer;
        }

        .panel.with-nav-tabs .panel-heading{
            padding: 5px 5px 0 5px;
        }
        .panel.with-nav-tabs .nav-tabs{
        	border-bottom: none;
        }
        .panel.with-nav-tabs .nav-justified{
        	margin-bottom: -1px;
        }
        </style>
        <title>{{ title }}</title>

    </head>
    <body>
        {% include "annotations/header.html" %}
        <div class="container-fluid">
            <div class="h1">{{ text.title }}</div>
            <div>{{ text.uri }}</div>
            <div>{{ text.source }}</div>
            <div>{{ text.created }}</div>
            <div>{{ text.addedBy }}</div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="panel">
                        <div class="panel-body">
                            {{ text.tokenizedContent|safe }}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel with-nav-tabs panel-default" style="position: fixed;">
                        <div class="panel-heading">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tabAppellations" data-toggle="tab">Appellations</a></li>
                                    <li><a href="#tabRelations" data-toggle="tab">Relations</a></li>
                                </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tabAppellations" ng-controller="AppellationsController">

                                </div>
                                <div class="tab-pane fade" id="tabRelations">Default 2</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
