{% load staticfiles %}
{% load app_filters %}

<html>
    <head>
        <script type="text/javascript" src="https://diging.atlassian.net/s/feb56a6b15dfe1c4dce860c5ec0d0c12-T/en_USugtsph-ren-off/70107/dd3ed69607618acd4f2d9e33519d4b21/2.0.7/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=da09a5cd"></script>
        {% include "annotations/stylesheets.html" %}
        {% include "annotations/angular.html" %}
        {% include "annotations/scripts.html" %}
        <script src="{% static "annotations/js/spin.min.js" %}"></script>
        <script src="{% static "annotations/js/jquery.spin.js" %}"></script>
        <script src="{% static "annotations/js/cytoscape.min.js" %}"></script>


        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body escape-key>
        {% include "annotations/" %}

        <div class="container-fluid" id="main-container">
            <div class="row" style="padding: 5px;">
                <ul class="nav nav-pills">
                     <li><a href="{% url 'text' text.id %}?mode=annotate">Annotate</a></li>
                     <li class="active"><a href="{% url 'text' text.id %}?mode=user_annotations">My Annotations</a></li>
                     <li><a href="{% url 'text' text.id %}">View</a></li>
                </ul>
            </div>
            <div class="h2">
                {{ text.title }}
                {% if text.originalResource %}
                <a href="{{ text.originalResource }}"
                    type="button"
                    class="btn"
                    title="Please click to access the original resource">
                    <span class="glyphicon glyphicon-new-window "></span>
                </a>
                {% endif %}
                {% if text.created %}
                <div class="small">
                    Created on {{ text.created }}
                </div>
                {% endif %}
            </div>
            <p class="text-warning">
                {{ text.uri }}
            </p>
            <p class="h5 text-muted">
                This text was added by <a href="{% url 'user_details' text.addedBy.id %}">{{text.addedBy.username}}</a>
                on {{ text.added }}. <strong>{{text.annotation_count}}</strong> appellations and
                <strong>{{text.relation_count}}</strong> relations have been encoded on the basis of this text.
            </p>

            {% if relations|length > 0 or appellations_data|length > 0 %}
            <ul class="nav nav-tabs nav-justified">
                <li class="active clearfix">
                    <a id="graphTabAnchor"
                        class="action-tab-anchor h4"
                        data-target="#graph"
                        data-toggle="tab">Browse</a>
                </li>
                <li class="clearfix">
                    <a id="listTabAnchor"
                        class="action-tab-anchor h4"
                        data-target="#list"
                        data-toggle="tab">Submit</a>
                </li>
            </ul>


            <div class="tab-content">
                <div class="tab-pane fade in active" id="graph">
                    <div class="panel">
                        <div class="row">
                            {% if relations|length > 0 %}
                            <div class="col-sm-4">
                                <div id="networkVis" style="height: 300px;">
                                </div>
                            </div>
                            {% endif %}
                            <div class="col-sm-{% if relations|length > 0 %}8{% else %}12{% endif %}">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="panel-heading">
                                            <span class="h4">Appellations</span>
                                        </div>
                                        <div  style="max-height: 400px; overflow-y: scroll;"
                                            class="panel-group"
                                            id="appellationsContainer"
                                            role="tablist"
                                            aria-multiselectable="true">
                                            {% for interpretation in appellations_data %}
                                            <div class="panel interpretation-toggle"
                                                id="{{ interpretation.interpretation_id }}_panel"
                                                concept="{{ interpretation.interpretation_id }}">
                                                <div class="panel-heading" role="tab">
                                                    <a class="accordion-toggle collapsed"
                                                        id="{{ interpretation.interpretation_id }}_trigger"
                                                        data-toggle="collapse"
                                                        data-parent="#appellationsContainer"
                                                        href="#{{ interpretation.interpretation_id }}_appellations">
                                                        {{ interpretation.interpretation_label }}
                                                        <span class="text-warning">{{interpretation.interpretation_type}}</span>
                                                    </a>
                                                </div>
                                                <div id="{{ interpretation.interpretation_id }}_appellations"
                                                    class="panel-collapse collapse"
                                                    concept="{{ interpretation.interpretation_id }}"
                                                    role="tabpanel">

                                                    {% if interpretation.num_texts > 0 %}
                                                    <div class="panel-body text-info text-small">
                                                        <a href="{% url 'concept_details' interpretation.interpretation_id %}">Also occurs in {{ interpretation.num_texts }} other texts...</a>
                                                    </div>
                                                    {% endif %}

                                                    {% for appellation in interpretation.appellations %}
                                                    <div class="panel-body">
                                                        <div class="text-warning">{{appellation.created}} by <a href="{% url "user_details" appellation.annotator_id %}">{{appellation.annotator_username}}</a></div>
                                                        <div class="text-muted">{{ appellation.text_snippet | safe}}</div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="panel-heading">
                                            <span class="h4">Relations</span>
                                        </div>
                                        <div style="max-height: 400px; overflow-y: scroll;"
                                            class="panel-group"
                                            id="relationsContainer"
                                            role="tablist"
                                            aria-multiselectable="true">
                                            {% for interpretation in relations %}
                                            <div class="panel relation-toggle"
                                                id="{{ interpretation.source_interpretation_id }}_{{ interpretation.target_interpretation_id }}_panel"
                                                source="{{ interpretation.source_interpretation_id }}"
                                                target="{{ interpretation.target_interpretation_id }}">
                                                <div class="panel-heading" role="tab">
                                                    <a class="accordion-toggle collapsed"
                                                        data-toggle="collapse"
                                                        data-parent="#relationsContainer"
                                                        id="{{ interpretation.source_interpretation_id }}_{{ interpretation.target_interpretation_id }}_trigger"
                                                        href="#{{ interpretation.source_interpretation_id }}_{{ interpretation.target_interpretation_id }}_appellations">
                                                        {{ interpretation.source_interpretation_label }} &amp; {{ interpretation.target_interpretation_label }}
                                                    </a>
                                                </div>
                                                <div id="{{ interpretation.source_interpretation_id }}_{{ interpretation.target_interpretation_id }}_appellations"
                                                    class="panel-collapse collapse"
                                                    source="{{ interpretation.source_interpretation_id }}"
                                                    target="{{ interpretation.target_interpretation_id }}"
                                                    role="tabpanel">
                                                    <div class="panel-body">
                                                        <a class="text-small text-muted"
                                                            href="{% url "relation_details" interpretation.source_interpretation_id interpretation.target_interpretation_id %}">
                                                            View all annotations for this pair of concepts.
                                                        </a>
                                                    </div>
                                                    {% for relationset in interpretation.relationsets %}
                                                    <div class="panel-body">
                                                        <div class="text-warning">{{relationset.created}} by <a href="{% url "user_details" relationset.annotator.id %}">{{relationset.annotator}}</a></div>
                                                        <div>{{ relationset.text_snippet | safe}}</div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="list">
                    <div class="panel">
                        {% if relationsets|length > 0 %}
                        <p>
                            <a class="btn btn-md btn-primary">Nominate all annotations</a>
                        </p>
                        <table class="table text-small">
                            <thead>
                                <tr>
                                    <th>Created</th>
                                    <th class="text-center">Nominated
                                        <a class="btn btn-xs glyphicon glyphicon-info-sign"
                                            tabindex="0"
                                            role="button"
                                            data-trigger="focus"
                                            data-toggle="popover"
                                            title="Nominate for submission to Quadriga"
                                            data-html="true"
                                            data-content="Nominate an annotation to mark it as ready for submission to Quadriga.
                                                          Once all of the concepts that you've introduced are resolved, your annotations
                                                          will be permanently stored in Quadriga. Click on the blue
                                                          <span class='btn btn-xs glyphicon glyphicon-plus' style='color: blue;'></span>
                                                          to nominate an annotation. <span class='text-warning'>Note: once an annotation is submitted,
                                                          you will no longer be able to modify or delete it.</span>">
                                        </a>
                                    </th>
                                    <th class="text-center">Ready
                                        <a class="btn btn-xs glyphicon glyphicon-info-sign"
                                            tabindex="0"
                                            role="button"
                                            data-trigger="focus"
                                            data-toggle="popover"
                                            title="Concept resolution"
                                            data-content="If you introduced new concepts while creating annotations, those concepts must
                                                          be resolved with the Conceptpower authority service before the related annotations
                                                          can be submitted to Conceptpower.">
                                        </a>
                                    </th>
                                    <th class="text-center">Submitted
                                        <a class="btn btn-xs glyphicon glyphicon-info-sign"
                                            tabindex="0"
                                            role="button"
                                            data-trigger="focus"
                                            data-toggle="popover"
                                            title="Submitted to conceptpower"
                                            data-content="Once your annotations have been nominated, and all related concepts have been
                                                          resolved, your annotations will be permanently stored in Quadriga.">
                                        </a>
                                    </th>
                                    <th class="col-xs-5">Concepts (click to view tags in text)</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for relationset in relationsets %}
                                <tr>
                                    <td>
                                        {{ relationset.0.created }}
                                    </td>

                                    <td class="text-center">
                                        {% if relationset.0.nominated %}
                                        <span class="glyphicon glyphicon-thumbs-up" style="color: green;"></span>
                                        {% else %}
                                        <span class="glyphicon glyphicon-thumbs-down" style="color: orange;"></span>
                                        <span class="btn btn-xs glyphicon glyphicon-plus" style="color: blue;"></span>

                                        {% endif %}
                                    </td>

                                    <td class="text-center">
                                        {% if relationset.0.ready %}
                                        <span class="glyphicon glyphicon-thumbs-up" style="color: green;"></span>
                                        {% else %}
                                        <span class="glyphicon glyphicon-thumbs-down" style="color: orange;"></span>
                                        {% endif %}
                                    </td>
                                    <td class="text-center">
                                        {% if relationset.0.submitted %}
                                        <span class="glyphicon glyphicon-thumbs-up" style="color: green;"></span>
                                        {% else %}
                                        <span class="glyphicon glyphicon-thumbs-down" style="color: orange;"></span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a class="accordion-toggle collapsed"
                                            data-toggle="collapse"
                                            data-parent="#relationsContainer"
                                            id="{{ relationset.0.id }}"
                                            href="#relationset_{{ relationset.0.id }}">
                                            {% for concept in relationset.0.concepts.all %}
                                            <span style="margin-right: 15px;">{{ concept.label }}</span>
                                            {% endfor %}
                                        </a>

                                        <div id="relationset_{{ relationset.0.id }}"
                                            class="panel-collapse collapse"
                                            role="tabpanel">
                                            <div class="panel-body">
                                                <div class="text-warning">{{relationset.0.created}}</div>
                                                <div>{{ relationset.1|safe}}</div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <p class="text-warning" style="padding: 15px;">
                            You have not yet created any relations from this text.
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% else %}
            <p class="text-warning" style="padding: 15px;">
                You have not yet created annotations in this text. Click on "Annotate"
                in the upper left corner of the page to begin annotating this text.
            </p>
            {% endif %}
        </div>
        <script>
        $('[data-toggle=popover]').popover({});
        </script>
        <script>
        var selectedNode = null;
        var networkEndpoint = '{% url "network-data" %}',
            networkParams = 'text={{text.id}}',
            networkContainerSelector = '#networkVis';

        $("[data-toggle='tooltip']").tooltip();

        // We just want to give a visual indication of which appellations'
        //  are related to each node. Selecting appellations doesn't really
        //  make sense, because there can be several appellations per node
        //  (nodes represent concepts).
        var networkCallback = function(c) {
            c.on('select', 'node', function(event) {
                var node = event.cyTarget;

                selectedNode = node._private.data.concept_id;

                node._private.data.appellations.forEach(function(appellation_id) {
                    $('[appellation='+appellation_id+']').addClass('networkHighlight')
                });

                // Uncollapse the appellation detail panel for this node.
                $('#' + selectedNode + '_trigger').click();


            });

            c.on('select', 'edge', function(event) {
                var edge = event.cyTarget;

                // Edge keys are sorted by interpretation ID.
                var source = Math.min(edge._private.source._private.data.concept_id,
                                      edge._private.target._private.data.concept_id);
                var target = Math.max(edge._private.source._private.data.concept_id,
                                      edge._private.target._private.data.concept_id);

                // Uncollapse the relation detail panel for this edge.
                $('#' + source + '_' + target + '_trigger').click();

            });


            $('.interpretation-toggle').on('show.bs.collapse', function(e) {
                var concept_id = $(e.target).attr('concept');

                if (concept_id != selectedNode) {
                    c.$('#' + concept_id).select();
                    selectedNode = concept_id;
                }
            });
            $('.interpretation-toggle').on('shown.bs.collapse', function(e) {
                var concept_id = $(e.target).attr('concept');
                var appellationTop = $('#appellationsContainer').scrollTop() + $('#' + concept_id + '_panel').position().top;
                $('#appellationsContainer').animate({'scrollTop': appellationTop}, 200);
            });

            $('.relation-toggle').on('shown.bs.collapse', function(e) {
                var source = $(e.target).attr('source');
                var target = $(e.target).attr('target');
                var relationTop = $('#relationsContainer').scrollTop() + $('#' + source + '_' + target + '_panel').position().top - 30;
                $('#relationsContainer').animate({'scrollTop': relationTop}, 200);
            });
        }
        </script>
        <script src="{% static "annotations/js/network_cytoscape.js" %}"></script>
    </body>
</html>
