{% load staticfiles %}
{% load app_filters %}

<html>
    <head>
        <script>
        var BASE_URL = '{{ base_url }}';
        var TEXTID = {{ textid }},
            USERID = {{ userid }},
            PROJECTID = "{{ project.id }}";
        var MODE = 'text';
        var BASELOCATION = stripTrailingSlash("{{baselocation}}");
        </script>

        {% include "annotations/fragment_google_analytics.html" %}
        {% include "annotations/scripts.html" %}
        <script>
        function stripTrailingSlash(str) {
            if(str.substr(-1) === '/') {
                return str.substr(0, str.length - 1);
            }
            return str;
        }

        </script>

        {% include "annotations/stylesheets.html" %}


        <script type="text/javascript" src="{% static "annotations/js/text/actionPanel.js" %}"></script>
        {% include "annotations/angular.html" %}
        {% include "annotations/textApp.html" %}
        <title>{{ title }}</title>

        {% csrf_token %}

        <!-- Mobile support. We want to be slightly zoomed out, or else the interface is simply too mashed. -->
        <meta name="viewport" content="width=device-width, initial-scale=0.75">

    </head>
    <body  ng-app="annotationApp">
        <span us-spinner="{radius:30, width:8, length: 16}"></span>
        {% include "annotations/header.html" %}

        <!-- csrf_ajax.js gets the CSRF token for this page, and pre-configures AJAX requests. -->
        <script src="{% static "annotations/js/csrf_ajax.js" %}"></script>

        <div class="container-fluid" id="main-container">
            <div class="row">
                <div class="col-sm-8">
                    {% include "annotations/text/preamble.html" %}

                    <div class="panel panel-default">
                        <div class="panel-body">
                            {{ content|safe }}
                        </div>
                    </div>
                </div>

                <div id="sticky" class="col-sm-4">
                    {% include "annotations/text/actionPanel.html" %}
                </div>
            </div>
        </div>

    </body>

</html>
