{% load staticfiles %}

<script src="{% static "annotations/js/text/app.js" %}"></script>
<!-- Resources -->
<script src="{% static "annotations/js/text/resources/appellationResource.js" %}"></script>
<script src="{% static "annotations/js/text/resources/conceptResource.js" %}"></script>
<script src="{% static "annotations/js/text/resources/typeResource.js" %}"></script>
<script src="{% static "annotations/js/text/resources/relationTemplateResource.js" %}"></script>
<script src="{% static "annotations/js/text/resources/relationSetResource.js" %}"></script>

<!-- Serices -->
<script src="{% static "annotations/js/text/services/selectionService.js" %}"></script>
<script src="{% static "annotations/js/text/services/appellationService.js" %}"></script>

<!-- Controllers -->
<script src="{% static "annotations/js/text/controllers/conceptSearchController.js" %}"></script>
<script src="{% static "annotations/js/text/controllers/appellationController.js" %}"></script>
<script src="{% static "annotations/js/text/controllers/relationTemplateController.js" %}"></script>
<script src="{% static "annotations/js/text/controllers/actionPanelController.js" %}"></script>
