{% extends "annotations/base.html" %}
{% load app_filters %}
{% load addcss %}
{% load staticfiles %}
{% block main %}

<script src="{% static "annotations/js/bootstrap-datepicker.min.js" %}"></script>
<div id="main">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
          <div id="upload" class="panel panel-default narrow center">
            <div class="panel-heading">Upload File</div>
            <form action="{{ app_path }}" enctype="multipart/form-data" method="post" id="upload-form" class="form-horizontal" style="margin-bottom: 5px;">
                {% csrf_token %}
                <br>

                <div class="form-group">
                  <div class="col-sm-10 col-sm-offset-1">
                    {% for error in form.title.errors %}
                    <span class="label label-danger">ERROR: {{ error }}</span>
                    {% endfor %}
                  </div>
                  <div class="col-sm-10 col-sm-offset-1">
                    <label for="filetoupload" class="required control-label ">{{ form.title.label }}</label>
                    {{ form.title | addcss:"form-control" }}
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-10 col-sm-offset-1">
                    {% for error in form.datecreated.errors %}
                    <span class="label label-danger">ERROR: {{ error }}</span>
                    {% endfor %}
                  </div>
                  <div class="col-sm-10 col-sm-offset-1">
                    <label for="filetoupload" class="required control-label ">{{ form.datecreated.label }}</label>
                    <div class="input-group input-append date" id="datePicker">
                      {{ form.datecreated | addcss:"form-control" }}
                      <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>

                    <script>
                      $(document).ready(function() {
                          $('#datePicker')
                            .datepicker({
                              format: 'mm/dd/yyyy'
                            });
                          });
                    </script>

                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-10 col-sm-offset-1">
                    {% for error in form.filetoupload.errors %}
                    <span class="label label-danger">ERROR: {{ error }}</span>
                    {% endfor %}
                  </div>
                  <div class="col-sm-10 col-sm-offset-1">
                    <label for="filetoupload" class="required control-label">{{ form.filetoupload.label }}</label>
                    {{ form.filetoupload | addcss:"form-control" }}
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-10 col-sm-offset-1">
                    {% for error in form.ispublic.errors %}
                    <span class="label label-danger">ERROR: {{ error }}</span>
                    {% endfor %}
                  </div>
                  <div class="col-sm-10 col-sm-offset-1">
                    <label for="filetoupload" class="required control-label ">{{ form.ispublic.label }}</label>
                    {{ form.ispublic }}
                    <label class="label label-default"><i>{{ form.ispublic.help_text }}</i></label>
                  </div>
                </div>

                <div class="panel-footer clearfix">
                  <div class="submit-row btn-group btn-group-sm">
                    <input type="submit" class="btn btn-primary" value="Upload" />
                  </div>
                </div>
            </form>
          </div>
        </div>
    </di>
</div>
{% endblock main %}
