{% extends "annotations/base.html" %}
{% load app_filters %}
{% load addcss %}
{% load staticfiles %}
{% block main %}

<script src="{% static "annotations/js/bootstrap-datepicker.min.js" %}"></script>
<div class="container">
    <div class="h3">Add a new text</div>
    <ul class="nav nav-tabs nav-justified">
        <li class="active clearfix">
            <a id="textTabAnchor"
                class="action-tab-anchor h4"
                data-target="#upload"
                data-toggle="tab">Upload a text file</a>
        </li>
        <li>
            <a id="projectTabAnchor"
                class="action-tab-anchor h4"
                data-target="#repository"
                data-toggle="tab">Select text from a repository</a>
        </li>

    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="upload">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p class="text-info">
                        Use the form below to add a new text to VogonWeb. Currently VogonWeb only accepts plain text files
                        for annotation, but very soon we'll support PDFs, images, and other non-textual material. If you do
                        not wish to make this text publicly accessible (e.g. if you are not authorized to distribute it), leave
                        the "Make this text public" option un-checked.
                    </p>

                    <form action="{{ app_path }}"
                        enctype="multipart/form-data"
                        method="post" id="upload-form"
                        class="" >
                        <div id="upload">



                                {% csrf_token %}


                                {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                <p class="errornote">
                                    <span class="label label-danger">{{ error }}</span>
                                </p>
                                {% endfor %}
                                {% endif %}
                                <div class="form-group">
                                    {% for error in form.title.errors %}
                                    <span class="label label-danger">{{ error }}</span>
                                    {% endfor %}
                                    <label for="title" class="required control-label ">{{ form.title.label }}</label>
                                    {{ form.title | addcss:"form-control" }}
                                    <p class="text text-muted text-small"><i>{{ form.title.help_text }}</i></p>
                                </div>

                                <div class="form-group">
                                    {% for error in form.uri.errors %}
                                    <span class="label label-danger">{{ error }}</span>
                                    {% endfor %}
                                    <label for="uri" class="required control-label ">{{ form.uri.label }}</label>
                                    {{ form.uri | addcss:"form-control" }}
                                    <p class="text text-muted text-small"><i>{{ form.uri.help_text }}</i></p>
                                </div>

                                <div class="form-group">
                                    {% for error in form.datecreated.errors %}
                                    <span class="label label-danger">{{ error }}</span>
                                    {% endfor %}

                                    <label for="datecreated" class="required control-label ">{{ form.datecreated.label }}</label>
                                    <div class="input-group input-append date" id="datePicker">
                                        {{ form.datecreated | addcss:"form-control" }}
                                        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>

                                    <script>
                                    $(document).ready(function() {
                                        $('#datePicker')
                                        .datepicker({
                                            format: 'mm/dd/yyyy'
                                        });
                                    });
                                    </script>
                                    <p class="text text-muted text-small"><i>{{ form.datecreated.help_text }}</i></p>
                                </div>
                                <div class="form-group">
                                    {% for error in form.filetoupload.errors %}
                                    <span class="label label-danger">{{ error }}</span>
                                    {% endfor %}

                                    <label for="filetoupload" class="required control-label">{{ form.filetoupload.label }}</label>
                                    {{ form.filetoupload | addcss:"form-control" }}
                                    <p class="text text-muted text-small"><i>{{ form.filetoupload.help_text }}</i></p>
                                </div>
                                <div class="form-group">
                                    {% for error in form.project.errors %}
                                    <span class="label label-danger">{{ error }}</span>
                                    {% endfor %}
                                    <label for="project" class="required control-label ">{{ form.project.label }}</label>
                                    {{ form.project | addcss:"form-control" }}
                                    <p class="text text-muted text-small"><i>{{ form.project.help_text }}</i></p>
                                </div>

                                <div class="form-group">
                                    {% for error in form.ispublic.errors %}
                                    <span class="label label-danger">{{ error }}</span>
                                    {% endfor %}
                                    <label for="ispublic" class="required control-label ">{{ form.ispublic.label }}</label>
                                    {{ form.ispublic }}
                                    <p class="text text-muted text-small"><i>{{ form.ispublic.help_text }}</i></p>
                                </div>
                                <div class="submit-row btn-group btn-group-sm pull-right">
                                    <input type="submit" class="btn btn-success" value="Upload" />
                                </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-pane fade in" id="repository">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p class="text-info">Select a repository from the list below.</p>
                </div>
                <div class="list-group">
                    {% for repository in repositories %}
                    <a class="list-group-item clearfix" href="{% url "repository_details" repository.id %}">
                        <div class="h4">{{ repository.name }}</div>
                        <div class="text-muted text-small">{{ repository.description }}</div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock main %}
