{% extends "annotations/base.html" %}
{% load app_filters %}
{% load addcss %}

{% block main %}


<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>


<div id="main">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
          <div id="upload" class="panel panel-default narrow center">
            <div class="panel-heading">Upload File</div>
            <form action="{{ app_path }}" enctype="multipart/form-data" method="post" id="upload-form" class="form-horizontal" style="margin-bottom: 5px;">
                {% csrf_token %}
                <br>

                <div class="form-group">
                  <div class="col-sm-10 col-sm-offset-1">
                    {% for error in form.title.errors %}
                    <span class="label label-danger">ERROR: {{ error }}</span>
                    {% endfor %}
                  </div>
                  <div class="col-sm-10 col-sm-offset-1">
                    <label for="filetoupload" class="required control-label ">{{ form.title.label }}</label>
                    {{ form.title | addcss:"form-control" }}
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-10 col-sm-offset-1">
                    {% for error in form.datecreated.errors %}
                    <span class="label label-danger">ERROR: {{ error }}</span>
                    {% endfor %}
                  </div>
                  <div class="col-sm-10 col-sm-offset-1">
                    <label for="filetoupload" class="required control-label ">{{ form.datecreated.label }}</label>
                    <div class="input-group input-append date" id="datePicker">
                      {{ form.datecreated | addcss:"form-control" }}
                      <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>

                    <script>
                      $(document).ready(function() {
                          $('#datePicker')
                            .datepicker({
                              format: 'mm/dd/yyyy'
                            });
                          });
                    </script>

                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-10 col-sm-offset-1">
                    {% for error in form.filetoupload.errors %}
                    <span class="label label-danger">ERROR: {{ error }}</span>
                    {% endfor %}
                  </div>
                  <div class="col-sm-10 col-sm-offset-1">
                    <label for="filetoupload" class="required control-label">{{ form.filetoupload.label }}</label>
                    {{ form.filetoupload | addcss:"form-control" }}
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-10 col-sm-offset-1">
                    {% for error in form.ispublic.errors %}
                    <span class="label label-danger">ERROR: {{ error }}</span>
                    {% endfor %}
                  </div>
                  <div class="col-sm-10 col-sm-offset-1">
                    <label for="filetoupload" class="required control-label ">{{ form.ispublic.label }}</label>
                    {{ form.ispublic }}
                    <p><label class="label label-default">{{ form.ispublic.help_text }}</label></p>
                  </div>
                </div>

                <div class="panel-footer clearfix">
                  <div class="submit-row btn-group btn-group-sm">
                    <input type="submit" class="btn btn-primary" value="Upload" />
                  </div>
                </div>
            </form>
          </div>
        </div>
    </di>
</div>



{% endblock main %}

<!--
<style type="text/css">
  .btn-file {
    position: relative;
    overflow: hidden;
  }
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }
</style>

<span class="label label-default" id="chosenfile">No File Chosen</span>

<span class="btn btn-default btn-file" id="choosefilebutton">
    Choose File <input type="file">
</span>

<button type="button" class="btn btn-success" style="display:none" id="uploadbutton">
    Upload
</button>

<script type="text/JavaScript">
  $(document).on('change', '.btn-file :file', function() {
      var input = $(this),
          numFiles = input.get(0).files ? input.get(0).files.length : 1,
          label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
      $('#chosenfile').html(label);
      $('#uploadbutton').toggle();
  });
</script>
-->
