{% extends "annotations/base.html" %}
{% load staticfiles %}


{% block main %}
<div id="main">
	<div class="row col-sm-8 col-sm-offset-2">
    <div class="panel panel-default narrow">
      <div class="panel-heading">
		  <span class="h2">User details for: {{ detail_user.username }}</span>
	  </div>
      	<div class="panel-body">
			<ul class="list-group">
				<li class="list-group-item"><strong>Email: </strong>{{ detail_user.email }}</li>
				<li class="list-group-item"><strong>Full Name: </strong>{{ detail_user.full_name }}</li>
				<li class="list-group-item"><strong>Affiliation: </strong>{{ detail_user.affiliation }}</li>
				<li class="list-group-item"><strong>Location: </strong>{{ detail_user.location }}</li>
			</ul>
		</div>
    </div>
	</div>
</div>
{% endblock %}
