<script>

</script>

<div>
	<div class="panel" ng-controller="textController">
		<div class="panel-heading clearfix">
			<span class="h4">My Recent Texts</span>
        </div>

        <div class="panel-body">
            <ul class="list-group">
            {% for text in texts %}

                <li class="list-group-item clearfix">
                    {{ text.title }}
                    <span class="pull-right">
                        <div class="btn-group btn-group-xs">
							<span type="button" class="btn btn-danger" aria-label="Collection" ng-click="addTextToCollection({{ text.id }})">
								<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
							</span>
                            <a href="{{baselocation}}/text/{{ text.id }}/" type="button" class="btn btn-primary" aria-label="Annotate Text">
                                <span class="glyphicon glyphicon-edit"></span>
                                <!-- <span class="label label-default"> {{ text.annotation_count }}</span> -->
                            </a>
                            <a href="#textDetails_{{ textcollection.id }}_{{text.id}}" data-toggle="collapse" type="button" class="btn btn-primary" aria-label="Annotate Text" aria-expanded="false" aria-controls="textDetails_{{ textcollection.id }}_{{text.id}}">
                                <span class="glyphicon glyphicon-cog"></span>
                            </a>

                        </div>
                    </span>
                </li>
                <div class="collapse" id="textDetails_{{ textcollection.id }}_{{text.id}}">
                    <!-- <div class="well"> -->
                    <table class="table small-text">
                        <tr>
                            <td>Source</td>
                            <td>{{ text.source }}</td>
                        </tr>
                        <tr>
                            <td>URI</td>
                            <td>{{ text.uri }}</td>
                        </tr>
                        <tr>
                            <td>Created</td>
                            <td>{{ text.created }}</td>
                        </tr>
                        <tr>
                            <td>Added</td>
                            <td>{{ text.added }}</td>
                        </tr>
                        <tr>
                            <td>Added By</td>
                            <td>{{ text.addedBy }}</td>
                        </tr>
                    </table>
                    <!-- </div> -->
                </div>
            {% endfor %}
            </ul>
        </div>
    </div>
	{% verbatim %}
	<div ng-controller="addTextsModalController" id="addTextsModal">
		<script type="text/ng-template" id="addTextsModalContent.html">
			<div class="modal-header">
				<h3 class="modal-title">Add this Text to a Collection</h3>
			</div>
			<div class="modal-body">
				<ul class="list-group">
					<a ng-repeat="textcollection in textcollections" class="list-group-item" ng-click="setValue(textcollection)">{{ textcollection.name }}</a>
				</ul>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" ng-click="ok()">Done</button>
				<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
			</div>
		</script>
	</div>
	{% endverbatim %}

</div>
