

<div>
	<div class="panel" ng-controller="textCollectionsController">
		<div class="panel-heading clearfix">
			<span class="h4">My Collections</span>
			<span class ="pull-right">
				<div class="btn-group btn-group-xs">
					<a type="button" class="btn btn-primary" aria-label="Add Collection" ng-click="addCollection()">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						Create Collection
					</a>
				</div>
			</span>
		</div>
		<div class="panel-body">
			<p>
				Use collections to organize your annotation efforts. For
				example, create a new collection for each of your projects.
				Once you create a collection, you can start adding texts to it.
				A text can belong to as many different collections as you like.
			</p>
		</div>
		{% verbatim %}
		<div class="panel-body">
			<ul class="list-group">
				<li ng-repeat="textcollection in textcollections" class="list-group-item">
						<a href="/collection/{{ textcollection.id }}/">{{ textcollection.name }}</a>
						<span class="pull-right">
							<div class="btn-group btn-group-xs">
								<a type="button" class="btn btn-primary" aria-label="Edit" ng-click="editCollection(textcollection)">
									<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
								</a>
								<a type="button" class="btn btn-danger" aria-label="Delete" ng-click="deleteCollection(textcollection)">
									<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
								</a>
							</div>
						</span>
					<!-- </accordion-heading> -->
					<div class="text text-muted text-small">{{ textcollection.description }}

					</div>
				</li>
			</ul>

			{% endverbatim %}
		</div>
	</div>

	<div ng-controller="deleteCollectionModalController" id="deleteCollectionModal">
		{% verbatim %}
		<script type="text/ng-template" id="deleteCollectionModalContent.html">
			<div class="modal-header">
				<h3 class="modal-title">Are you sure?</h3>
			</div>
			<div class="modal-body">

				<p>
				You have selected collection <strong>"{{ data.textcollection.name }}"</strong> for deletion.
				This action cannot be reversed!
				</p>


			</div>
			<div class="modal-footer">
				<i>(Don't worry, you won't lose any of your annotations)</i>
				<button class="btn btn-danger" ng-enter="ok(data)" ng-click="ok(data)">Delete Forever</button>
				<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
			</div>
		</script>
		{% endverbatim %}
	</div>

	<div ng-controller="addCollectionModalController" id="addCollectionModal">
		<script type="text/ng-template" id="addCollectionModalContent.html">
			<div class="modal-header">
				<h3 class="modal-title">Create a New Collection</h3>
			</div>
			<div class="modal-body">
				<form name="collectionForm" class="form-horizontal">
					<div class="form-group">
						<label for="name" class="col-sm-4 control-label">Name:</label>
						<div class="col-sm-6">
							<input class="form-control" id="name" ng-model="data.textcollection.name" placeholder="Give your collection a name" ng-required="true" />
						</div>
					</div>
					<div class="form-group">
						<label for="description" class="col-sm-4 control-label">Description:</label>
						<div class="col-sm-6">
							<input class="form-control" id="description" ng-model="data.textcollection.description" placeholder="Please provide a short description" ng-required="true" />
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" ng-enter="ok(data)" ng-click="ok(data)" ng-disabled="collectionForm.$invalid">OK</button>
				<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
			</div>
		</script>
	</div>


</div>
