{% extends "annotations/base.html" %}

{% block breadcrumbs %}
<a href="{% url "home" %}" class="btn btn-xs">Home</a>&raquo;<a href="{% url "users" %}" class="btn btn-xs">Contributors</a>&raquo;<a href="{% url "user_details" detail_user.id %}" class="btn btn-xs">{{ detail_user.username}}</a>
{% endblock %}

{% load staticfiles %}
{% block main %}
<div id="main" class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-xs-4">
        	<img src="{% if detail_user.imagefile %}{{detail_user.imagefile}}{% else %}{{default_user_image}}{% endif %}"
        		width="150px"
        		class="img img-responsive">
        	</img>
        </div>
        <div class="col-sm-10 col-xs-8">
        	<div class="h2">
                {{ detail_user.username }}{% if detail_user.full_name %} <small>| {{ detail_user.full_name}}</small>{% endif %}
                {% if detail_user.id == user.id %}
                <a class="pull-right btn btn-md btn-success"
                    href="?mode=edit">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Edit
                </a>
                {% endif %}
            </div>
        	{% if detail_user.conceptpower_uri %}
        	<p class="text-warning text-small">{{ detail_user.conceptpower_uri }}</p>
        	{% endif %}
        	<p class="text">
        		{% if detail_user.full_name %}{{ detail_user.full_name}}{% else %}{{ detail_user.username }}{% endif %}
        		has created <strong>{{ appellation_count }}</strong> appellations and <strong>{{ relation_count }}</strong>
        		relations in <strong>{{ text_count }}</strong> texts.
        	</p>
        	{% if detail_user.affiliation %}
        	<p>
        		<strong>Affiliation: </strong>{{ detail_user.affiliation }}
        	</p>
        	{% endif %}
        	{% if detail_user.location %}
        	<p>
        		<strong>Location: </strong>{{ detail_user.location }}
        	</p>
        	{% endif %}
        	{% if detail_user.link %}
        	<p>
        		<strong>Link: </strong><a href="{{ detail_user.link}}">{{ detail_user.link }}</a>
        	</p>
        	{% endif %}
        </div>
    </div>

    {% if projects|length > 0 %}
    <div class="h3">Projects</div>
    <div class="list-group">
        {% for project in projects %}
        <a class="list-group-item"
            href="{% url "view_project" project.id %}">
            <span class="h4">{{ project.name }}</span>
            <span class="text text-muted">{{ project.description }}</span>
            <div class="text-warning">
                Created by <strong>{{ project.ownedBy__username }}</strong> on {{ project.created }}
            </div>
            <div>
                {{ project.num_texts }} texts, {{ project.num_relations }} relations.
            </div>
        </a>
        {% endfor %}
    </div>
    {% endif %}

	<div class="h3">Recent Activity</div>
	<div id = "barchart"><link rel="stylesheet" href="{% static "annotations/css/d3.css" %}" />
		<script src="//d3js.org/d3.v3.min.js"></script>
		<script src="{% static "annotations/js/bar_d3.js" %}"></script>
		<script>
		var annotations = JSON.parse('{{annotation_per_week|safe}}');
			render(annotations);
			$(window).resize(function() {
				var chart = document.getElementById("barchart")
				var width = $(chart).width();
				render(annotations);
			});
		</script>
	</div>

    {% if relations %}
    <div class="h3">Recent Annotations
        <a class="btn btn-sm" href="{% url "relations" %}?createdBy={{ user.id }}">See all</a>
    </div>
    {% include "annotations/relations_list_fragment.html" %}
    {% endif %}

</div>
{% endblock %}
Status API Training Shop Blog About
© 2016 GitHub, Inc. Terms Privacy Security Contact Help
