{% load staticfiles %}
<script src="{% static "annotations/bower_components/angularjs/angular.min.js" %}"></script>
<script src="{% static "annotations/bower_components/angular-resource/angular-resource.min.js" %}"></script>
<script src="{% static "annotations/bower_components/angular-sanitize/angular-sanitize.min.js" %}"></script>
<script src="{% static "annotations/js/libs/angucomplete-alt.min.js" %}"></script>
<script src="{% static "annotations/bower_components/angularjs/ui-bootstrap-tpls-0.13.0.min.js" %}"></script>
