{% load staticfiles %}

<html ng-app="annotationApp">
    <head>
        <script>

        var BASELOCATION = "{{baselocation}}";

        </script>

        {% include "annotations/stylesheets.html" %}
        {% include "annotations/angular.html" %}
        {% include "annotations/scripts.html" %}

        <script src="{% static "annotations/js/network.js" %}"></script>
        <script src="{% static "annotations/js/text.js" %}"></script>

        <script>
        var TEXTID = {{ textid }};
        var USERID = {{ userid }};
        </script>
        <title>{{ title }}</title>
    </head>
    <body escape-key>
        {% include "annotations/header.html" %}
        <div id="main" class="container">
            <div class="row col-md-12">
                <div id="left" class="col-md-6">
                    <div class="row">
                        <div ng-controller="AlertController" id="alerts">
                            {% verbatim %}
                            <alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert($index)" ng-bind-html="alert.message"></alert>
                            {% endverbatim %}
                        </div>
                    </div>
                    <div class="row">
                        <div id="text" class="panel panel-primary">
                            <div id="textTitle" class="panel-heading">
                                <h3>{{ text.title }}</h3>
                            </div>
                            <div id="textContent" class="panel-body" ng-controller="TextController" textid="{{ textid }}">
                                <div id="textContentInner" ng-bind-html="textContent" bind-text></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="right" class="col-md-6">
                    <div id="rightTools">
                        <div class="panel panel-default">
                            <tabset justified="true">
                                <tab heading="Network" active="true">
                                    <div id="networkVis" class="panel panel-default">
                                        <div d3-network class="panel-body" id="network"></div>
                                    </div>
                                    <div class="panel">
                                        <div class="panel-body">
                                            Nodes and edges will be added to the graph as you create new relations.
                                            Each node corresponds to a single concept; so if several appellations
                                            share a single interpretation (e.g. if two phrases refer to the same
                                            person), then they will be represented by a single node.
                                        </div>
                                    </div>
                                </tab>
                                <tab heading="Appellations">
                                    <div id="annotations" ng-controller="AppellationsController" class="panel-body">
                                        <div class="list-group list-group-annotations">
                                            <a href="#" ng-repeat="appellation in appellations" class="list-group-item" ng-click="appellationClick(appellation.id)">
                                                {% verbatim %}
                                                <span class="quotedText">{{ appellation.stringRep }}</span> ({{ appellationLabels[appellation.id] }})
                                                <span class="btn-group btn-group-xs pull-right">
                                                    <span class="btn btn-danger" ng-click="deleteAppellation(appellation)">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                        Delete
                                                    </span>
                                                </span>
                                                {% endverbatim %}
                                            </a>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div class="panel-body">
                                            Appellations will be added to this list as you create them.
                                        </div>
                                    </div>
                                </tab>
                                <tab heading="Relations">
                                    <div id="relations" ng-controller="RelationsController" class="panel-body">
                                        <div class="list-group list-group-annotations">
                                            <a href="#" ng-repeat="relation in relations" class="list-group-item" ng-click="relationClick(relation)">
                                                {% verbatim %}
                                                {{ relationLabels[relation.id].source }} - <span class="quotedText">{{ relationLabels[relation.id].predicate }}</span> - {{ relationLabels[relation.id].target }}
                                                <span class="btn-group btn-group-xs pull-right">
                                                    <span class="btn btn-danger" ng-click="deleteRelation(relation)">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                        Delete
                                                    </span>
                                                </span>
                                                {% endverbatim %}
                                            </a>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div class="panel-body">
                                            Relations will be added to this list as you create them.
                                        </div>
                                    </div>
                                </tab>

                            </tabset>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% verbatim %}
        <div id="modalConcept" ng-controller="ModalConceptControl">
            <script type="text/ng-template" id="modalConcept.html">
                <div class="modal-header">
                    <h3 class="modal-title">{{ data.title }}</h3>
                </div>
                <div class="modal-body">
                    <p>You selected <span class="quotedText">{{ data.text.stringRep }}</span></p>
                    <p>{{ data.instructions }}</p>

                    <div angucomplete-alt field-required="true" id="concepts" placeholder="{{ data.placeholder }}" pause="100" search-str="search" selected-object="selectConcept" remote-url="{{baselocation}}/rest/concept?pos={{ data.pos }}&search=" remote-url-data-field="" title-field="label" description-field="description" input-class="form-control form-control-small">
                    </div>
                    <div class="clearfix">
                        <div class="btn-group btn-group-sm pull-right">
                            <button class="btn btn-primary" ng-disabled="createConceptDisabled" ng-click="startCreateConcept()">Create Concept</button>
                        </div>
                    </div>
                    <div class="panel" ng-hide="createConceptHidden">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="assertUnique" ng-change="assertUniqueChange()">
                                I've tried my hardest, but I can't find this concept in any search results.
                            </label>
                        </div>
                    </div>
                    <div class="panel" ng-hide="createConceptDetailsHidden">
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" name="description" required="true" ng-model="newConcept.description" id="description" placeholder="Describe this concept in as much detail as you can."></textarea>
                        </div>
                        <div class="form-group">
                            <label for="type">Type</label>
                            <select class="form-control" ng-model="newConcept.typed" required="true" ng-options="t.label for t in data.types">
                                <option></option>
                            </select>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-enter="ok()" ng-click="ok()" ng-disabled="okDisabled">OK</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>
            </script>
        </div>
        {% endverbatim %}

        {% verbatim %}
        <div id="modalTemporalBounds" ng-controller="ModalTemporalBoundsControl">
            <script type="text/ng-template" id="modalTemporalBounds.html">
                <div class="modal-header">
                    <h3 class="modal-title">{{ title }}</h3>
                </div>
                <div class="modal-body">
                    <p>You asserted that <span class="quotedText">{{ contextData.sourceConcept.label }} - {{ contextData.predicateConcept.label }} - {{ contextData.targetConcept.label }}</span></p>
                    <p>{{ instructions }}</p>

                    <form name="temporalForm">
                        <table>
                            <tr>
                                <td>Started:</td>
                                <td>
                                    <input class="temporalInput" ng-model="started.year" type="number" name="startedYear" ng-minlength="4" ng-maxlength="4" placeholder="Year">
                                    <input class="temporalInput" ng-model="started.month" type="number" name="startedMonth" min="1" max="12" ng-minlength="1" ng-maxlength="2" placeholder="Month">
                                    <input class="temporalInput" ng-model="started.day" type="number" name="startedDay" min="1" max="31" ng-minlength="1" ng-maxlength="2" placeholder="Day">
                                    <span class="glyphicon glyphicon-question-sign" popover="The date on which this relationship commenced, or your assertion (above) became true." popover-trigger="mouseenter"></span>
                                    <div role="alert">
                                      <span class="error" ng-show="temporalForm.startedYear.$error.minlength">Enter a four-digit year.</span>
                                      <span class="error" ng-show="temporalForm.startedYear.$error.maxlength">Enter a four-digit year.</span>
                                      <span class="error" ng-show="temporalForm.startedMonth.$error.minlength">Enter a one or two-digit month.</span>
                                      <span class="error" ng-show="temporalForm.startedMonth.$error.maxlength">Enter a one or two-digit month.</span>
                                      <span class="error" ng-show="temporalForm.startedDay.$error.minlength">Enter a one or two-digit day of the month.</span>
                                      <span class="error" ng-show="temporalForm.startedDay.$error.maxlength">Enter a one or two-digit day of the month.</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Ended:</td>
                                <td>
                                    <input class="temporalInput" ng-model="ended.year" type="number" name="endedYear" ng-minlength="4" ng-maxlength="4" placeholder="Year">
                                    <input class="temporalInput" ng-model="ended.month" type="number" name="endedMonth" min="1" max="12" ng-minlength="1" ng-maxlength="2" placeholder="Month">
                                    <input class="temporalInput" ng-model="ended.day" type="number" name="endedDay" min="1" max="31" ng-minlength="1" ng-maxlength="2" placeholder="Day">
                                    <span class="glyphicon glyphicon-question-sign" popover="The date on which this relationship ended, or your assertion (above) ceased to be true." popover-trigger="mouseenter"></span>
                                    <div role="alert">
                                      <span class="error" ng-show="temporalForm.endedYear.$error.minlength">Enter a four-digit year.</span>
                                      <span class="error" ng-show="temporalForm.endedYear.$error.maxlength">Enter a four-digit year.</span>
                                      <span class="error" ng-show="temporalForm.endedMonth.$error.minlength">Enter a one or two-digit month.</span>
                                      <span class="error" ng-show="temporalForm.endedMonth.$error.maxlength">Enter a one or two-digit month.</span>
                                      <span class="error" ng-show="temporalForm.endedDay.$error.minlength">Enter a one or two-digit day of the month.</span>
                                      <span class="error" ng-show="temporalForm.endedDay.$error.maxlength">Enter a one or two-digit day of the month.</span>
                                    </div>
                                <td>
                            </tr>
                            <tr>
                                <td>Occurred:</td>
                                <td>
                                    <input class="temporalInput" ng-model="occurred.year" type="number" name="occurredYear" ng-minlength="4" ng-maxlength="4" placeholder="Year">
                                    <input class="temporalInput" ng-model="occurred.month" type="number" name="occurredMonth" min="1" max="12" ng-minlength="1" ng-maxlength="2" placeholder="Month">
                                    <input class="temporalInput" ng-model="occurred.day" type="number" name="occurredDay" min="1" max="31" ng-minlength="1" ng-maxlength="2" placeholder="Day">
                                    <span class="glyphicon glyphicon-question-sign" popover="A date on which you know this relationship to have existed (or your assertion (above) to have been true) regardless of when it commenced or ended." popover-trigger="mouseenter"></span>
                                    <div role="alert">
                                      <span class="error" ng-show="temporalForm.occurredYear.$error.minlength">Enter a four-digit year.</span>
                                      <span class="error" ng-show="temporalForm.occurredYear.$error.maxlength">Enter a four-digit year.</span>
                                      <span class="error" ng-show="temporalForm.occurredMonth.$error.minlength">Enter a one or two-digit month.</span>
                                      <span class="error" ng-show="temporalForm.occurredMonth.$error.maxlength">Enter a one or two-digit month.</span>
                                      <span class="error" ng-show="temporalForm.occurredDay.$error.minlength">Enter a one or two-digit day of the month.</span>
                                      <span class="error" ng-show="temporalForm.occurredDay.$error.maxlength">Enter a one or two-digit day of the month.</span>
                                    </div>
                                </td>
                            </tr>

                        </table>
                    </form>
                </div>
                {% endverbatim %}

                <div class="modal-footer">
                    <button class="btn btn-primary" ng-enter="ok()" ng-click="ok()">OK</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>
            </script>
        </div>

        <div ng-controller="deleteConfirmModalController" id="deleteAppellationModal">
            {% verbatim %}
            <script type="text/ng-template" id="deleteAppellationModalContent.html">
                <div class="modal-header">
                    <h3 class="modal-title">Are you sure?</h3>
                </div>
                <div class="modal-body">
                    <p>
                    You have selected the appellation <span class="quotedText">{{data.appellation.stringRep}}</span>
                    for deletion. If you delete this appellation, then all of its associated relations will also be deleted.
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" ng-enter="ok(data)" ng-click="ok(data)">Delete Forever</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>
            </script>
            {% endverbatim %}
        </div>

        <div ng-controller="deleteConfirmModalController" id="deleteRelationModal">
            {% verbatim %}
            <script type="text/ng-template" id="deleteRelationModalContent.html">
                <div class="modal-header">
                    <h3 class="modal-title">Are you sure?</h3>
                </div>
                <div class="modal-body">
                    <p>
                    Are you sure that you want to delete this relation?
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" ng-enter="ok(data)" ng-click="ok(data)">Delete Forever</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>
            </script>
            {% endverbatim %}
        </div>
    </body>

</html>
